*,
:before,
:after {
	--ring-offset-width: 0px;
	--ring-offset-color: #fff;
	--ring-color: rgb(59 130 246 / 0.5);
	--ring-offset-shadow: 0 0 #0000;
	--ring-shadow: 0 0 #0000;
	--shadow: 0 0 #0000;
	--shadow-colored: 0 0 #0000;
}
::backdrop {
	--ring-offset-width: 0px;
	--ring-offset-color: #fff;
	--ring-color: rgb(59 130 246 / 0.5);
	--ring-offset-shadow: 0 0 #0000;
	--ring-shadow: 0 0 #0000;
	--shadow: 0 0 #0000;
	--shadow-colored: 0 0 #0000;
}
*,
:before,
:after {
	box-sizing: border-box;
	border-width: 0;
	border-style: solid;
	border-color: #e5e7eb;
}
html,
:host {
	line-height: 1.5;
	-webkit-text-size-adjust: 100%;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
	font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
		"Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
	font-feature-settings: normal;
	font-variation-settings: normal;
	-webkit-tap-highlight-color: transparent;
}
body {
	margin: 0;
	line-height: inherit;
}
abbr:where([title]) {
	-webkit-text-decoration: underline dotted;
	text-decoration: underline dotted;
}
h1,
h2,
h3,
h4 {
	font-size: inherit;
	font-weight: inherit;
}
a {
	color: inherit;
	text-decoration: inherit;
}
button {
	font-family: inherit;
	font-feature-settings: inherit;
	font-variation-settings: inherit;
	font-size: 100%;
	font-weight: inherit;
	line-height: inherit;
	letter-spacing: inherit;
	color: inherit;
	margin: 0;
	padding: 0;
}
button {
	text-transform: none;
}
button,
input:where([type="button"]),
input:where([type="reset"]),
input:where([type="submit"]) {
	-webkit-appearance: button;
	appearance: button;
	background-color: transparent;
	background-image: none;
}
:-moz-focusring {
	outline: auto;
}
:-moz-ui-invalid {
	box-shadow: none;
}
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
	height: auto;
}
::-webkit-search-decoration {
	-webkit-appearance: none;
}
::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit;
}
h1,
h2,
h3,
h4,
p {
	margin: 0;
}
ol,
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
button {
	cursor: pointer;
}
:disabled {
	cursor: default;
}
hr {
	border-top-width: 1px;
	border-color: #e5e5e5;
}
img,
svg {
	display: block;
}
.hero .col-6 {
	padding: 1rem;
}
.hero img {
	max-width: 100%;
	height: auto;
	object-fit: cover;
	border-radius: 0.5rem;
}
[hidden]:where(:not([hidden="until-found"])) {
	display: none;
}
* {
	border-color: hsl(var(--border));
}
body {
	background-color: white;
	color: #0f1115;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.fixed {
	position: fixed;
}
.absolute {
	position: absolute;
}
.relative {
	position: relative;
}
.inset-0 {
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
.-bottom-4 {
	bottom: -1rem;
}
.-right-4 {
	right: -1rem;
}
.left-0 {
	left: 0;
}
.right-0 {
	right: 0;
}
.top-0 {
	top: 0;
}
.z-10 {
	z-index: 10;
}
.z-50 {
	z-index: 50;
}
.z-100 {
	z-index: 100;
}
.mx-auto {
	margin-left: auto;
	margin-right: auto;
}
.mb-12 {
	margin-bottom: 3rem;
}
.mb-2 {
	margin-bottom: 0.5rem;
}
.mb-4 {
	margin-bottom: 1rem;
}
.ml-2 {
	margin-left: 0.5rem;
}
.mt-12 {
	margin-top: 3rem;
}
.flex {
	display: flex;
}
.inline-flex {
	display: inline-flex;
}
.grid {
	display: grid;
}
.hidden {
	display: none;
}
.h-10 {
	height: 2.5rem;
}
.h-12 {
	height: 3rem;
}
.h-4 {
	height: 1rem;
}
.h-5 {
	height: 1.25rem;
}
.h-6 {
	height: 1.5rem;
}
.h-72 {
	height: 18rem;
}
.h-auto {
	height: auto;
}
.max-h-screen {
	max-height: 100vh;
}
.min-h-screen {
	min-height: 100vh;
}
.w-10 {
	width: 2.5rem;
}
.w-12 {
	width: 3rem;
}
.w-4 {
	width: 1rem;
}
.w-5 {
	width: 1.25rem;
}
.w-6 {
	width: 1.5rem;
}
.w-72 {
	width: 18rem;
}
.w-full {
	width: 100%;
}
.max-w-2xl {
	max-width: 42rem;
}
.max-w-7xl {
	max-width: 80rem;
}
.max-w-xl {
	max-width: 36rem;
}
.grid-cols-1 {
	grid-template-columns: repeat(1, minmax(0, 1fr));
}
.grid-cols-3 {
	grid-template-columns: repeat(3, minmax(0, 1fr));
}
.flex-col {
	flex-direction: column;
}
.flex-col-reverse {
	flex-direction: column-reverse;
}
.items-start {
	align-items: flex-start;
}
.items-center {
	align-items: center;
}
.justify-center {
	justify-content: center;
}
.justify-between {
	justify-content: space-between;
}
.gap-12 {
	gap: 3rem;
}
.gap-2 {
	gap: 0.5rem;
}
.gap-4 {
	gap: 1rem;
}
.gap-6 {
	gap: 1.5rem;
}
.gap-8 {
	gap: 2rem;
}
.space-x-4 > :not([hidden]) ~ :not([hidden]) {
	margin-right: 0;
	margin-left: 1rem;
}
.space-x-8 > :not([hidden]) ~ :not([hidden]) {
	margin-right: 0;
	margin-left: 2rem;
}
.space-y-2 > :not([hidden]) ~ :not([hidden]) {
	margin-top: 0.5rem;
	margin-bottom: 0;
}
.space-y-4 > :not([hidden]) ~ :not([hidden]) {
	margin-top: 1rem;
	margin-bottom: 0;
}
.space-y-6 > :not([hidden]) ~ :not([hidden]) {
	margin-top: 1.5rem;
	margin-bottom: 0;
}
.space-y-8 > :not([hidden]) ~ :not([hidden]) {
	margin-top: 2rem;
	margin-bottom: 0;
}
.overflow-hidden {
	overflow: hidden;
}
.whitespace-nowrap {
	white-space: nowrap;
}
.rounded-3xl {
	border-radius: 1.5rem;
}
.rounded-full {
	border-radius: 9999px;
}
.rounded-lg {
	border-radius: 1.2rem;
}
.rounded-md {
	border-radius: calc(1.2rem - 2px);
}
.rounded-xl {
	border-radius: 0.75rem;
}
.border {
	border-width: 1px;
}
.border-t {
	border-top-width: 1px;
}
.border-white-10 {
	border-color: #ffffff1a;
}
.border-white-20 {
	border-color: #fff3;
}
.bg-yellow {
	background-color: rgb(242 255 68 / 1);
}
.btn.bg-yellow:hover {
	background-color: rgb(226 239 52 / 1);
}
.bg-accent-10 {
	background-color: #8989de1a;
}
.bg-accent-20 {
	background-color: #8989de33;
}
.bg-accent-5 {
	background-color: #8989de0d;
}
.bg-dark {
	background-color: #444444;
}
.bg-background {
	background-color: #ffffff;
}
.bg-background-80 {
	background-color: #fff;
}
.bg-card {
	background-color: white;
}
.bg-primary {
	background-color: rgb(20 20 19 / 1);
}
.bg-white {
	background-color: white;
}
.p-4 {
	padding: 1rem;
}
.p-6 {
	padding: 1.5rem;
}
.px-4 {
	padding-left: 1rem;
	padding-right: 1rem;
}
.px-6 {
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}
.px-8 {
	padding-left: 2rem;
	padding-right: 2rem;
}
.py-2 {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}
.py-20 {
	padding-top: 5rem;
	padding-bottom: 5rem;
}
.py-4 {
	padding-top: 1rem;
	padding-bottom: 1rem;
}
.py-6 {
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
}
.pt-20 {
	padding-top: 5rem;
}
.pt-8 {
	padding-top: 2rem;
}
.text-center {
	text-align: center;
}
.text-2xl {
	font-size: 1.5rem;
	line-height: 2rem;
}
.text-3xl {
	font-size: 1.875rem;
	line-height: 2.25rem;
}
.text-4xl {
	font-size: 2.25rem;
	line-height: 2.5rem;
}
.text-5xl {
	font-size: 3rem;
	line-height: 1;
}
.text-lg {
	font-size: 1.125rem;
	line-height: 1.75rem;
}
.text-sm {
	font-size: 0.875rem;
	line-height: 1.25rem;
}
.text-xl {
	font-size: 1.25rem;
	line-height: 1.75rem;
}
.font-bold {
	font-weight: 700;
}
.font-medium {
	font-weight: 500;
}
.font-semibold {
	font-weight: 600;
}
.italic {
	font-style: italic;
}
.leading-tight {
	line-height: 1.25;
}
.text-black {
	color: rgb(0 0 0 / 1);
}
.text-black-60 {
	color: #0009;
}
.text-black-80 {
	color: #000c;
}
.text-card-foreground {
	color: rgb(20 20 19 / 1);
}
.text-primary-foreground {
	color: white;
}
.text-white {
	color: white;
}
.text-white-60 {
	color: #fff9;
}
.text-white-80 {
	color: #fffc;
}
.shadow-2xl {
	--shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
	--shadow-colored: 0 25px 50px -12px var(--shadow-color);
	box-shadow: var(--ring-offset-shadow, 0 0 #0000),
		var(--ring-shadow, 0 0 #0000), var(--shadow);
}
.shadow-sm {
	--shadow: 0 2px 3px 0 rgb(0 0 0 / 15%);
	--shadow-colored: 0 2px 3px 0 var(--shadow-color);
	box-shadow: var(--ring-offset-shadow, 0 0 #0000),
		var(--ring-shadow, 0 0 #0000), var(--shadow), -1px -1px #f2f2f2;
}
.ring-offset-background {
	--ring-offset-color: #0f1115;
}
.blur-3xl {
	filter: blur(64px);
}
.backdrop-blur-3xl {
	backdrop-filter: blur(64px);
}
nav {
	box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
}
.backdrop-blur-lg {
	backdrop-filter: blur(16px);
}
.transition-all {
	transition-property: all;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 0.15s;
}
.transition-colors {
	transition-property: color, background-color, border-color,
		text-decoration-color, fill, stroke;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 0.15s;
}
.duration-300 {
	transition-duration: 0.3s;
}
.duration-300 {
	animation-duration: 0.3s;
}
.glass-effect {
	border-width: 1px;
	border-color: #ffffff1a;
	background-color: #ffffff0d;
	backdrop-filter: blur(16px);
}
.hover-lift {
	transition-property: transform;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 0.3s;
	animation-duration: 0.3s;
}
.hover-lift:hover {
	transform: translate(0, -0.25rem);
}
.file-border-0::file-selector-button {
	border-width: 0px;
}
.file-bg-transparent::file-selector-button {
	background-color: transparent;
}
.file-text-sm::file-selector-button {
	font-size: 0.875rem;
	line-height: 1.25rem;
}
.file-font-medium::file-selector-button {
	font-weight: 500;
}
.file-text-foreground::file-selector-button {
	color: white;
}
.hover-bg-white-10:hover {
	background-color: #ffffff1a;
}
.hover-bg-white-90:hover {
	background-color: #ffffffe6;
}
.hover-text-accent-foreground:hover {
	color: white;
}
.hover-text-white:hover {
	color: white;
}
.hover-text-black:hover {
	color: #151515;
}
.focus-visible-outline-none:focus-visible {
	outline: 2px solid transparent;
	outline-offset: 2px;
}
.focus-visible-ring-1:focus-visible {
	--ring-offset-shadow: var(--ring-inset) 0 0 0 var(--ring-offset-width)
		var(--ring-offset-color);
	--ring-shadow: var(--ring-inset) 0 0 0 calc(1px + var(--ring-offset-width))
		var(--ring-color);
	box-shadow: var(--ring-offset-shadow), var(--ring-shadow),
		var(--shadow, 0 0 #0000);
}
.focus-visible-ring-2:focus-visible {
	--ring-offset-shadow: var(--ring-inset) 0 0 0 var(--ring-offset-width)
		var(--ring-offset-color);
	--ring-shadow: var(--ring-inset) 0 0 0 calc(2px + var(--ring-offset-width))
		var(--ring-color);
	box-shadow: var(--ring-offset-shadow), var(--ring-shadow),
		var(--shadow, 0 0 #0000);
}
.focus-visible-ring-ring:focus-visible {
	--ring-color: hsl(var(--ring));
}
.focus-visible-ring-offset-1:focus-visible {
	--ring-offset-width: 1px;
}
.focus-visible-ring-offset-2:focus-visible {
	--ring-offset-width: 2px;
}
.focus-visible-ring-offset-background:focus-visible {
	--ring-offset-color: #0f1115;
}
.disabled-pointer-events-none:disabled {
	pointer-events: none;
}
.disabled-opacity-50:disabled {
	opacity: 0.5;
}
.group:hover .group-hover-bg-accent-20 {
	background-color: #8989de33;
}
@media (min-width: 640px) {
	.sm-bottom-0 {
		bottom: 0;
	}
	.sm-right-0 {
		right: 0;
	}
	.sm-top-auto {
		top: auto;
	}
	.sm-flex-row {
		flex-direction: row;
	}
	.sm-flex-col {
		flex-direction: column;
	}
}
@media (min-width: 768px) {
	.md-flex {
		display: flex;
	}
	.md-max-w-420 {
		max-width: 420px;
	}
	.md-grid-cols-2 {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}
	.md-grid-cols-3 {
		grid-template-columns: repeat(3, minmax(0, 1fr));
	}
	.md-grid-cols-4 {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}
	.md-text-5xl {
		font-size: 3rem;
		line-height: 1;
	}
	.md-text-6xl {
		font-size: 3.75rem;
		line-height: 1;
	}
}
.btn.btn-light.rounded-circle {
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1rem;
}
