#set( $usersidebarhidden = $userprofile.get("usersidebarhidden"))
#if (!$usersidebarhidden)
  #set( $usersidebarhidden = 'false')
#end

#if($communitytagcategory)
  #if($communitytagcategory.primaryimagepathwide)
    #set($headerbg = "$applink${communitytagcategory.primaryimagepathwide}")
  #end
#end

#set($homelink = "$applink/home/proposals/index.html")

##$pages.include("$apphome/components/users/pickuser.html")
##$pages.include("$apphome/components/libraries/pickcollection.html")

<nav class="navbar sticky-top navbar-expand-lg" id="superNav">
  <div class="container flex-nowrap"> 
     <a class="navbar-brand"  href="$applink/index.html" title="Open Institute">
      <img src="$applink/theme/images/oi-logo-w.png" alt="Open Institute" class="me-2" />
    </a>
    #if( $communitytagcategory)
            <h2 class="text-white my-1 mx-3" >
              #text($communitytagcategory)
            </h2>
          </a>
        <a href="$link">
          <img src="$apphome${communitytagcategory.primaryimagepath}" class="me-3" style="max-height:53px"/>
        </a>
    #end
    
    $pages.include("$apphome/components/quicksearch/navbar.html")	
    <div class="d-flex"> 
      <button class="d-block d-md-none navbar-toggler" type="button" data-bs-toggle="offcanvas"
        data-bs-target="#drawerMenu" aria-controls="drawerMenu">
        <i class="fas fa-bars text-white"></i>
      </button>
      <div class="d-none d-md-flex flex-grow-1 align-items-center">
        <div class="navbar-nav flex-row gap-2">
          <a class="lnk nav-link" href="$applink/about/index.html">[[About]]</a>
          <a class="lnk nav-link" href="$applink/contact/contact.html">[[Contact]]</a>
          #if(!$user) 
            <a class="lnk nav-link" href="$applink/authentication/login.html" title="[[Login]]">
              [[Login]] <i class="fas fa-sign-in-alt ms-1"></i>
            </a>
          #end
          <div class="dropdown nav-item">
            #set( $currentlang = $mediaarchive.getData("locale",$context.language) )
            <a class="dropdown-toggle nav-link" href="#" role="button" data-bs-toggle="dropdown">
              #if($currentlang)$currentlang.id #else $context.language#end
            </a>
            <ul class="dropdown-menu dropdown-menu-md-end">
              #set( $localesearcher = $mediaarchive.getSearcher("locale") )
              #set( $languages = $localesearcher.query().match("enabled", "true").search($context) )
              #foreach( $lang in $languages)
              <li class="dropdown-item">
                <a href="$home$apphome/components/languages/changelanguage.html?newlang=locale_$lang.id&origURL=#urlescape($context.getPathUrl())">$lang</a>
              </li>
              #end
            </ul>
          </div>
          #if($user)
            <a class="lnk nav-link" href="$applink/authentication/logout.html" title="[[Logout]]">
              <i class="fas fa-sign-out-alt"></i>
            </a>
          #end
        </div>
      </div>
      <div class="offcanvas offcanvas-end d-flex d-md-none" tabindex="-1" id="drawerMenu"
        aria-labelledby="drawerMenuLabel">
        <div class="offcanvas-header">
          <a href="/" class="me-4">
            <img src="$applink/theme/images/oi-logo-w.png" class="me-2" />
          </a>
          <button type="button" class="btn text-white" data-bs-dismiss="offcanvas" aria-label="Close">
            <i class="fas fa-times"></i>
          </button>
        </div>
        <div class="offcanvas-body"></div>
      </div>
    </div>
  </div>
</nav>