<h6 class="text-center text-dark mb-3">Communities</h6>
#set( $tagscategories =
$mediaarchive.query("communitytagcategory").named("communitytagcategory").all().search($context))
<div class="row justify-content-md-center">
  #foreach( $tagcategory in $tagscategories)
    <div class="col-6 col-md-4 h-100">
      #if( $tagcategory.externaldomain)
        #set( $link ="${tagcategory.externaldomain}/app/index.html")
      #elseif($tagcategory.entitytype == "entityrental")
        #set( $link = "$apphome/home/rentals/${tagcategory.getId()}/#dash($tagcategory).html")
      #else
        #set( $link = "$apphome/home/proposals/category/${tagcategory.getId()}/#dash($tagcategory).html")
      #end
      <a href="$link" class="result-item">
        <img style="max-width:80px;" src="$apphome${tagcategory.primaryimagepath}" />
        <span class="#if ($tagcategory.getName().length() > 10) sm #else lg #end">$tagcategory.getName()</span>
      </a>
    </div>
  #end
</div>