<div class="flex-grow-1 d-flex ps-1 pe-2" style="position: relative;">
	<input class="search-primary" />
	$pages.include("$apphome/components/quicksearch/results.html")
	<div id="search-mask"></div>
</div>
<script>
	$(document).ready(function () {
		var resultBox = $("#primary-search-results");
		function showSearch(e) { 
			$(".search-primary").addClass("active");
			resultBox.css({"height": "auto", "opacity": 1});
			$("#search-mask").show();
		}
		
		$(".search-primary").on("focus", showSearch);
		$(".search-primary").on("click", showSearch);

		$(".search-primary").on("keyup", function () {
			var value = $(this).val().toLowerCase();
			$("#primary-search-results .content").filter(function () {
				$(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
			});
		});
		$("#search-mask").on("click", function () {
			$(".search-primary").removeClass("active");
			resultBox.css({"height": 0,"min-height": 0,"opacity": 0});
			$("#search-mask").hide();
		});
	});
</script>