#if(!$module)
	#set($module = $mediaArchive.getCachedData($context.module))
#end


#if($librarycol)
	#set( $collectionid = $librarycol.getId())
#else
	#set( $collectionid = $context.getRequestParameter("collectionid"))
#end
##TODO  Remember last selected module of profile

#if(!$hits)
#set( $hits = $modulehits)
$context.putPageValue("hits",$hits)
#end
		#set( $input = $hits.getInput("description") )
		#if (!$input)
			#set( $input = "")
		#end

<div class="flex-grow-1 d-flex ps-1 pe-2" style="position: relative;">
	<div id="search-mask"></div>

			<input class="typeaheaddropdown  search-primary" 
					type="text"  
					id="searchinput"
					name="description.value"
					value="#esc($input)"
					autocomplete="off"
					placeholder="[[Search Open Institute]]"
					data-resultheight="400"
					data-updateurl="true" 
					data-field="description"
					
					##regularsearch
					data-quicksearched='$!context.getRequestParameter("quicksearched")'
					data-searchurltargetdiv="applicationmaincontent"
					data-oemaxlevel="2"
					
					##enterkeyaction?  
					data-searchurlentertargetdiv="applicationmaincontent"
					data-searchurlenteroemaxlevel="2"
					
					##typeahed
					data-typeaheadurl="$siteroot$applink/components/quicksearch/results.html"
					data-typeaheadtargetdiv="applicationmaincontent"
					data-typeaheadoemaxlevel="2"
					
					data-hitssessionid="$!hits.sessionId"
					
					data-moduleid="$moduleid"
					
					data-operation="freeform"
					 />
			
			</div>
