<h6 class="text-center text-dark mb-3">Projects</h6>


<div class="d-flex  align-items-start">
#set( $projects = $mediaarchive.query("librarycollection").exact("library", "userscollections").sort("name").search($context) )
#foreach($project in $projects)
	#if($project.urlname)
		#set($projectlink = "$!{community.externaldomain}/${project.urlname}/chat/index.html")
	#else
		#set($projectlink = "/project/chat/index.html?collectionid=${project.id}")
	#end
	<div class="py-1 px-2 mb-2 qs-project">
		<a href="${projectlink}" title="[[Open]] $project"><i class="fas fa-folder"></i> $project</a>
	</div>
#end
</div>