
#set( $appsection = $context.getRequestParameter("appsection"))
#if( !$appsection)
	#set( $appsection = $content.appsection )
#end

<div id="sidebarreload" 
	class="ajaxsocketautoreload"  
	data-ajaxpath="${communityhome}/components/users/sidebar.html?appsection=$!appsection&oemaxlevel=1&collectionid=$!librarycol.id" >
	
	
	#if($messages.size()>0)
		<div class="sidebar-box" style="height:auto;"> 
	    <div class="sidebar-box-header">
	        [[Recent Chats]] 
	        <button class="btn btn-light rounded-0 border-0 sidebar-toggler userOffcanvasToggler" data-action="hide" data-bs-dismiss="offcanvas" title="[[Hide User Sidebar]]">
	        	<i class="fas fa-times"></i>
	        </button>
	    </div>
		#set( $chatmanager = $mediaarchive.getBean("chatManager"))
		#set($selectedproject = $librarycol.getId())
		<div style="max-height: 370px; overflow-y:auto;">
		<div class="usersidebartopmessages" >
			#foreach( $message in $messages )
				#set( $topic = $mediaarchive.getCachedData("collectiveproject",$message.channel))
				#set( $collective = $mediaarchive.getCachedData("librarycollection",$topic.parentcollectionid))
				#set( $otherperson =  $chatManager.getOtherChatUser($collective,$user) )
				
			  <div class="row g-0 messageselection #if($selectedproject==$collective.id) current #end">
				<div class="col-2" style="padding:0px;" >
						#ifnotnull($otherperson)
							$context.putPageValue("chatuser",$otherperson)
							$pages.include("${apphome}/users/icon.html",$context)
						#end
						#ifnull($otherperson)
							#if($collective.assetportrait)
							#set($asset = $mediaarchive.getAsset($collective.assetportrait))
							#set($link = $mediaarchive.asLinkToPreview($asset,"image200x200.jpg"))
							#else
							#set($link = "$communityhome/theme/images/OI_flower.png")
							#end
							<div class="card-collections-thumb" style='background-image: url("$link")'></div>
						#end
				</div>
				<div class="col" style="padding:0px;">	
					<a  
					 href="$applink/collective/community/${collective.id}/#dash($collective.getName()).html"  
					 >		
					 	#ifnotnull($otherperson)
						<b>  $otherperson.getScreenName() </b>
						#end
						#ifnull($otherperson)
						<b> #datatext($collective,"name") </b>
						#end
						<div class="messagearea">
							$url_util.escapeMessage($message.message,26)
						</div>
						#set($chatuser = $mediaarchive.getUser($message.user))
						<div style="font-size:.7em;font-style:italic;">$chatuser #datatext($topic, "name") / $context.getAge($message.getDate("date")) [[ago]]</div>
					</a>	
				</div>
	 		 </div>
	 		 <div class="sidebar-list">
	 		 <a href="$sitelink/app/activity/index.html"><i class="fa fa-comments"></i> [[All Chats]]</a>
	 		 </div>
			#end
		</div>	
		</div>
	</div>
	#end

<div class="sidebar-box">
   <div class="sidebar-box-header" >[[Profile]]
   <a href="$sitelink/users/index.html" class="float-end" title="[[My Profile]]"><i class="fas fa-user-cog"></i></a>
   </div>
   <div class="sidebar-box-content" style="padding:0;">
		#set($userprojects = $mediaarchive.getProjectManager().listCollectionsOnTeam($user))
		
		

	    	<ul class="sidebar-list">
			##<li class="#if($appsection == "wallet") current #end">
			##<a href="$sitelink/app/wallet/$user.id/index.html"><i class="fas fa-clipboard-check"></i> [[My Wallet]]</a>
			##</li>
			#if(!$userprojects.isEmpty() )
			<li class="#if($appsection == "mytasks") current #end" >
				<a href="$sitelink/app/users/tasks/mytasks.html?goaltrackerstaff=$user.getId()"><i class="fas fa-hammer"></i> [[My Tasks]]</a>
			</li>
			<li class="#if($appsection == "completed") current #end" >
				<a href="$applink/users/tasks/report.html?collectionid=*&goaltrackerstaff=*"><i class="fas fa-chart-line"></i> [[Completed Tasks]]</a>
			</li>
			#end
			</ul>
			#if(!$userprojects.isEmpty() )
			<div class="p-2">
			<a href="$sitelink/app/users/tasks/index.html?$!{args}" class="btn btn-sm btn-primary">[[All]]</a>
			<a href="$sitelink/app/users/tasks/search.html?ticketlevel=1&$!{args}" class="btn btn-sm btn-primary">[[Agendas]]</a>
			<a href="$sitelink/app/users/tasks/search.html?ticketlevel=2&$!{args}" class="btn btn-sm btn-primary">[[Goals]]</a>
			</div>
			#end
		
		
		</div>
	</div>
		
	<div class="sidebar-box">	
		#if($canviewsettings)
		<div class="sidebar-box-header" style="margin-top:0px;">[[Admin Reports]]</div>
		<ul class="sidebar-list" style="margin-bottom:0px;">
		<li class="#if($content.getPageName() == "reportpendingpayments") current #end" >
			<a href="$applink/reports/reportpendingpayments.html"><i class="fas fa-chart-line"></i> [[Payments Pending]]</a>
		</li>
		<li class="#if($content.getPageName() == "allprojectsbalances") current #end" >
			<a href="$applink/reports/allprojectsbalances.html"><i class="fas fa-chart-line"></i> [[All Transactions]]</a>
		</li>
		#end
		</ul>
		<div class="clearfix"></div>
	</div>
		
	#if($canviewsettings)
	<div class="sidebar-box">
		<div class="sidebar-box-header" style="margin-top:0px;">
		[[Admin]]
		<a href="$sitelink/app/views/settings/status/tools/index.html" class="float-right" title="[[Settings]]"><i class="fas fa-cog"></i></a>
		</div>
		<ul class="sidebar-list" style="margin-bottom:10px;">
		
		##<li class="#if($appsection == "tixreport") current #end" >
		##	<a href="$sitelink/app/users/tasks/tixreport.html?goaltrackerstaff=$user.getId()"><i class="fas fa-chart-line"></i> [[Tix Report]]</a>
		
		<li class="#if($appsection == "invoices") current #end">
			<a href="/project/services/invoicepaidyear.html" ><i class="fas fa-file-invoice-dollar"></i> [[Invoices]]</a>
		</li>
		
		##	<li class="#if($appsection == "tixreport") current #end" style="width:110px; float:left;">
		##	<a href="$applink/users/tasks/tixreport.html?goaltrackerstaff=$user.getId()"><i class="fas fa-chart-line"></i> [[Tix Report]]</a>
		</ul>
	</div>
	#end
	
</div>


