#set($collectionid = $librarycol.getId())

<div id="subscriberssidebar" class="donate-proposal-sidebar">

#set($currentTotal = $transactionManager.getCombinedTotalIncome($librarycol.getId(),"1"))

##set( $hidegoals = $context.getRequestParameter("hidegoals"))
##if( $hidegoals != "true")
	##	#if( $caneditcollection)
	##	<a class="emdialog btn btn-sm btn-light" style="position:absolute; right: 0px; top:20px;" data-allwaysloadpage="true" href="${projectlink}/edit/editcollective.html?collectionid=$librarycol.getId()" title="[[Edit your Goals]]"><i class="fas fa-cog"></i> [[Goals]]</a>
	##	#end

<p class="text-center text-muted lead mb-1">[[Phase 1 of 3]]</p>
##Distribution details, move all this to Donate/Expendetures area 
#if($librarycol.goaldate)
	<div class="sidebarbox" style="padding-top:20px;"  >
		<h3 class="text-center">[[Goal]]</h3>
				<div class="" style="padding-left:25px;">		
				#if($librarycol.goaldate)
				<strong>[[Our Goal]]: $${librarycol.goalamount} by #date($librarycol,"goaldate")! </strong><br>
				#if($librarycol.distributedtotal) 
				[[We have raised]]: $$!context.doubleToMoney($currentTotal, 2) USD<br> 
				[[Spent]]: $${librarycol.distributedtotal} <br>[[Remaining]]: $$mathutil.subtract($currentTotal,$librarycol.distributedtotal) #end
				#else
				
				#end
				</div>	

	</div>
#end
	<a href="${projectlink}/donate/$collectionid/donate.html" class="donate">
		<span>[[Donate]]</span> <i class="ms-2 fas fa-hand-holding-usd" style="line-height: 1;"></i>
	</a>
##end	
<p class="text-muted mt-2">
	[[Raised]] <strong class="text-brand">$$!context.doubleToMoney($currentTotal,0)</strong> from <strong class="text-brand">10</strong> [[Donors]]
</p>
	
	#set( $donations = $mediaarchive.query("transaction").exact("collectionid",$collectionid).sort("paymentdateDown").search($context) )
	#set( $n = $donations.setHitsPerPage(6))

	#if( !$donations.isEmpty() )
	<strong>[[Recent Donations]] ($donations.size())</strong>
		#foreach($transaction in $donations.getPageOfHits())
		 	#set( $selecteduser = $mediaarchive.getUser($transaction.userid) )
			<div style="background-color:#eee;padding:5px 10px 5px 10px; margin:4px 0;">
			
			<table  style="width:100%;">
				<tr>
					<td style="width:28%; text-align: right;"><strong>$$!context.doubleToMoney($transaction.totalprice,2) <span style="font-size:0.8rem">$context.getText($!mediaarchive.getCachedData("currencytype", $transaction.currencytype))</span></strong></td>
					<td style="width:28%; text-align: center; padding-left:5px;">$!context.getDate($transaction.paymentdate)</td>
					<td style="width:44%">
					#if( $transaction.paymenttype =="paypal" && $transaction.name) 
					 	$transaction.name
					#elseif($selecteduser)
						$!selecteduser.getAnonNickName()
					#end
					</td>
				</tr>
			</table>
			</div>	
		#end
	#end

</div>
        
 