#set($collectivesection = $content.collectivesection)

<div id="application" class="community-layout bg-light"  data-home="$home" data-user="$!user.id" data-apphome="$apphome"
data-applink="$applink" data-inapp="$browser.inApp()" data-themeprefix="/${applicationid}/theme"
data-browserlanguage="$!{browserlanguage}" data-editmode='$!user.get("oe_edit_mode")'
data-mediadbappid="$!mediaarchive.getMediaDbId()" data-componenthome="$!componenthome" #if( $showupload)
data-showuploadid="${showupload.id}" #end data-viewertemplate="$applink/collective/channel/show/index.html"> 
	<div  class="sidebar-left">
		<button class="btn btn-sm community-drawer-close">
			<i class="fas fa-times text-muted"></i>
		</button>
		#if($collectivesection == "settings")
			$pages.include("${communityhome}/project/admin/sidebar.html",$context)
		#elseif($collectivesection == "finances")
			$pages.include("${communityhome}/project/services/sidebar.html",$context)
		#end
		$pages.include("${communityhome}/project/layout/sidebar-left.html",$context)
	</div>
	
	<div class="main-content">
		$pages.include("${communityhome}/project/layout/project-header.html",$context)
		<div id="maincontent">
			$pages.includeContent()	
		</div>
	</div>
	
	<div class="sidebar-right">
		$pages.include("${communityhome}/project/layout/sidebar-right.html",$context)
	</div>
	<div id="community-drawer-mask" class="community-drawer-close" role="button" style="display: none;"></div>
</div>