#set($collectivesection = $content.collectivesection)

$pages.include("${communityhome}/project/layout/menu-collectives.html",$context)

<div id="campaigninfo" class="community-layout bg-light"> 
	<div  class="sidebar-left">
		<button class="btn btn-sm community-drawer-close">
			<i class="fas fa-times text-muted"></i>
		</button>
		#if($collectivesection == "settings")
			$pages.include("${communityhome}/project/admin/sidebar.html",$context)
		#elseif($collectivesection == "finances")
			$pages.include("${communityhome}/project/services/finances/sidebar.html",$context)
		#end
		$pages.include("${communityhome}/project/layout/sidebar-left.html",$context)
	</div>
	
	<div class="main-content">
		$pages.include("${communityhome}/project/layout/project-header.html",$context)
		$pages.includeContent()	
	</div>
	
	<div class="sidebar-right">
		$pages.include("${communityhome}/project/layout/sidebar-right.html",$context)
	</div>
	<div id="community-drawer-mask" class="community-drawer-close" role="button" style="display: none;"></div>
</div>