#set($collectivesection = $content.collectivesection)

<section class="mainsection">
	<div class="container pt-2">
		$pages.include("${communityhome}/project/layout/project-header.html",$context)
		<div class="community-layout bg-white"> 

				#if($collectivesection == "settings")
					<div  class="sidebar-left">
					<button class="btn btn-sm community-drawer-close">
						<i class="fas fa-times text-muted"></i>
					</button>
					#if($collectivesection == "settings")
						$pages.include("${communityhome}/project/admin/sidebar.html",$context)
					#end
					</div>
				#end
				
			<div class="main-content">
				<div id="maincontent">
					$pages.includeContent()	
				</div>
			</div>
			
			#if($collectivesection != "settings" && $collectivesection != "finances")
			<div class="sidebar-right">
				
				
				
				$pages.include("${communityhome}/project/layout/sidebar-right.html",$context)
				
				
				<div class="mt-6 mb-6">
					<div class="referrallinkbox">
						#set($sharinglink = "${communitytagcategory.externaldomain}/?fbclid=$!librarycol.getId()")
						<h3>[[Link eMedia]]</h3>
						<div class="d-inline">
							<i class="fas fa-link fa-sm me-1"></i> [[Help our community and share our referral link]]: 
							<div class="referrallink">$sharinglink</div> 
							<a href="#" 
								class="copytoclipboard btn btn-xxs btn-light ms-1" 
								data-targetdiv="referrallinkboxcopied" data-copytext="copyreferral" title="[[Copy to Clipboard]]"><i class="far fa-copy"></i> [[Copy]]</a>
								<input style="position:absolute; top:-1000px;" 
								id="copyreferral" 
								value="$sharinglink">
						</div>
					</div>
					<div id="referrallinkboxcopied" class="refferralcopied">[[Link copied to clipboard, thank you!]]</div>
				</div>
				
			</div>
			#end
			<div id="community-drawer-mask" class="community-drawer-close" role="button" style="display: none;"></div>
		</div>
	</div>
</section>

