$context.putPageValue("collectionid",$librarycol.getId() )

#set($logo = $mediaarchive.getAsset($librarycol.assetportrait) )

#if ($logo)
    #set($logourl = "/$mediaarchive.getMediaDbId()/services/module/asset/downloads/preset/${logo.sourcepath}/image200x200.png")
#else
    #set($logourl = "$communityhome/theme/images/OI_flower.png")
#end

#if ($librarycol.collectivebanner)
    #set( $banner= $mediaarchive.getAsset($librarycol.collectivebanner) )
    #set ($bannerurl = "/$mediaarchive.getMediaDbId()/services/module/asset/downloads/preset/$!{banner.sourcepath}/image1920x500cropped.jpg")
#end

<div class="project-header">
    <div #ifnotnull($content.shades)data-shades="$content.shades"#end
        #ifnotnull($content.bgcolor)data-bgcolor="$content.bgcolor"#end
        #if($bannerurl)
            class="bg-white banner"
            style="background-image: url('$bannerurl')" 
        #else
            class="bg-white banner coverRandom"
        #end>
        <a class="header-logo" href="$projectlink" title="$!librarycol.name">
            <img src="$logourl" alt="logo" />
        </a>
        
        $pages.include("${communityhome}/project/layout/menu-collectives.html",$context)
        #if($librarycol.name)
            <h1 class="project-title">#text($librarycol.name)</h1>
        #end
    </div>
</div>
