$context.putPageValue("collectionid",$librarycol.getId() )

#set($logo = $mediaarchive.getAsset($librarycol.assetportrait) )

#if ($logo)
    #set($logourl = "/$mediaarchive.getMediaDbId()/services/module/asset/downloads/preset/${logo.sourcepath}/image200x200.png")
#else
    #set($logourl = "$communityhome/theme/images/OI_flower.png")
#end

#set($homelink = "$communityhome/proposal/${librarycol.id}/#dash($librarycol.getWebName()).html")

#if ($librarycol.collectivebanner)
    #set( $banner= $mediaarchive.getAsset($librarycol.collectivebanner) )
    #set ($bannerurl = "/$mediaarchive.getMediaDbId()/services/module/asset/downloads/preset/$!{banner.sourcepath}/image1920x500cropped.jpg")
#end

<div class="project-header">
    <div class="bg-white banner" #if($bannerurl) style="background-image: url('$bannerurl');" #end>
        <a class="header-logo" href="$homelink" title="$!librarycol.name">
            <img src="$logourl" alt="logo" />
        </a>
        #if($librarycol.name)
            <h1 class="project-title">#text($librarycol.name)</h1>
        #end
    </div>
</div>