#set($proposalproblem = $librarycol.get("proposalproblem"))
#set($proposalcauses = $librarycol.get("proposalcauses"))
#set($proposalempowerment = $librarycol.get("proposalempowerment"))


<div class="d-flex flex-column align-items-center py-3 px-2 bg-light h-100">
	$pages.include("$apphome/collective/donate/donateproposalsidebar.html?hidegoals=true",$context) 
	<div class="w-50 border-top mb-4"></div> 
	<div class="explore-blog-list">
		<h6>[[Explore Blogs by Project]]</h6>
		<a class="#">
			<img src="$applink/theme/images/oi-logo-w.png">
			<p class="mb-0">Lorem ipsum dolor</p>
		</a>
		<a class="#">
			<img src="$applink/theme/images/oi-logo-w.png">
			<p class="mb-0">Consectetur adipiscing elit</p>
		</a>
		<a class="#">
			<img src="$applink/theme/images/oi-logo-w.png">
			<p class="mb-0">Sed do eiusmod tempor</p>
		</a>
		<a class="#">
			<img src="$applink/theme/images/oi-logo-w.png">
			<p class="mb-0">Incididunt ut labore</p>
		</a>
	</div>
</div>
