:root {
	--default-font: "Roboto", system-ui, -apple-system, "Segoe UI", Roboto,
		"Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
		"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	--heading-font: "Raleway", sans-serif;
	--nav-font: "Poppins", sans-serif;
}
:root {
	--background-color: #ffffff;
	--default-color: #444444;
	--heading-color: #151515;
	--accent-color: #ffb328;
	--surface-color: #ffffff;
	--contrast-color: #312f2f;
}
:root {
	--nav-color: rgba(255, 255, 255, 0.905);
	--nav-hover-color: #ffc451;
	--nav-mobile-background-color: #ffffff;
	--nav-dropdown-background-color: #ffffff;
	--nav-dropdown-color: #212529;
	--nav-dropdown-hover-color: #ffc451;
}
.light-background {
	--background-color: #f9f9f9;
	--surface-color: #ffffff;
}
:root {
	scroll-behavior: smooth;
}
body {
	color: var(--default-color);
	background-color: var(--background-color);
	font-family: var(--default-font);
	height: unset;
}
a {
	color: var(--accent-color);
	text-decoration: none;
	transition: 0.3s;
}
a:hover {
	color: color-mix(in srgb, var(--accent-color), transparent 25%);
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--heading-color);
	font-family: var(--heading-font);
}
.themed-btn, .btn.btn-follow, .btn.add-product,
.chatterbox-write .chatter-btn,
.btn-primary {
	border-color: var(--accent-color) !important;
	background-color: var(--accent-color) !important;
	color: #444444;
	font-size: 16px;
	transition: 0.3s;
}
.themed-btn:hover, .btn.btn-follow:hover, .btn.add-product:hover,
.btn-primary:hover {
	background-color: color-mix(
		in srgb,
		var(--accent-color),
		transparent 25%
	) !important;
	color: #444444;
}
.btn-outline-primary {
	border-color: var(--accent-color);
	color: var(--accent-color);
	transition: 0.3s;
}
.btn-outline-primary:hover {
	background-color: var(--accent-color);
	color: var(--contrast-color);
}
.header {
	--background-color: rgba(0, 0, 0, 0.8);
	--heading-color: #ffffff;
	--contrast-color: #ffffff;
	color: #444;
	background-color: #fefefe;
	padding: 8px 0;
	transition: all 0.5s;
	z-index: 997;
}
.header .logo,
footer .logo {
	line-height: 1;
	/* height: 55px; */
	width: 150px;
}
.header .logo img,
footer .logo img {
	/* max-height: 36px; */
	margin-right: 8px;
}
.header .logo h1,
footer .logo h1 {
	font-size: 20px;
	margin: 0;
	font-weight: 700;
	color: var(--accent-color);
}
.header .logo small,
footer .logo small {
	color: white;
	font-size: 12px;
}
.header .btn-getstarted,
.header .btn-getstarted:focus {
	color: var(--accent-color);
	font-size: 14px;
	padding: 8px 16px;
	margin: 0 0 0 30px;
	border-radius: 4px;
	transition: 0.3s;
	border: 2px solid var(--accent-color);
}
.header .btn-getstarted:hover,
.header .btn-getstarted:focus:hover {
	color: var(--default-color) !important;
	background: var(--accent-color);
}
.scrolled .header {
	box-shadow: 0px 0 18px rgba(0, 0, 0, 0.1);
}
.index-page .header {
	--background-color: rgba(0, 0, 0, 0);
}
.index-page.scrolled .header {
	--background-color: rgba(0, 0, 0, 0.8);
}
.navigation {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	left: 0;
	width: 100%;
	transition: 0.4s;
	color: black;
	z-index: 999;
}
.navigation .navbar-brand {
	color: #efefef;
	font-size: 24px;
	line-height: 16px;
	font-weight: 700;
}
.navigation .navbar-brand i {
	width: 50px;
	height: 50px;
	border-radius: 50px;
	color: #ffffff;
	/* border: 1px solid #626584; */
	background-color: transparent;
	text-align: center;
	line-height: 50px;
	margin-right: 10px;
	font-size: 20px;
}
.navigation .navbar-brand:hover {
	color: #ffffff !important;
}
.navigation .navbar-toggler {
	padding: 10px 15px;
	font-size: 24px;
	line-height: 1;
	color: #ffffff;
	/* background-color: #fff; */
	border: 0;
	border-radius: 0;
	transition: none;
}
.navigation .navbar-toggler:focus {
	box-shadow: none;
}
@media (min-width: 992px) {
	.navigation .navbar-nav .nav-item:not(:last-child) {
		margin-right: 12px;
	}
}
.navigation .navbar-nav .nav-item .nav-link {
	margin-top: 25px;
	margin-bottom: 20px;
	color: #c1c1c1;
	padding: 0 20px;
	font-size: 18px;
	line-height: 14px;
	font-weight: 600;
	transition: 0.4s;
}
.navigation .navbar-nav .nav-item .nav-link:hover {
	font-weight: 600;
	color: #222 !important;
}
.navigation .navbar-nav .nav-item .active {
	color: #222;
	font-weight: 700;
}
.btn-searchprojects {
	margin-top: 18px;
}
@media (min-width: 992px) {
	.navigation .dropdown:hover ul.dropdown-menu {
		opacity: 1;
		visibility: visible;
		transform: translateY(0px);
	}
	.navigation .dropdown-menu {
		display: block;
		opacity: 0;
		visibility: hidden;
		transform: translateY(20px);
		margin-top: -8px;
	}
}
.navigation .dropdown-menu {
	border: 0;
	background: #fff;
	box-shadow: 0 1.5rem 4rem rgba(63, 63, 65, 0.15);
	padding: 5px 16px;
	transition: 0.3s;
	min-width: 11rem;
}
.navigation .dropdown-menu li:not(:last-child) {
	margin-bottom: 7px;
}
.navigation .dropdown-menu li a {
	padding: 2px 1.067rem;
	border-radius: 5px;
}
.navigation .dropdown-menu .dropdown-item {
	text-transform: capitalize;
	font-weight: 400;
	transition: 0.3s;
}
.navigation .dropdown-menu .dropdown-item.active,
.navigation .dropdown-menu .dropdown-item:active,
.navigation .dropdown-menu .dropdown-item:hover {
	color: #626584;
	background-color: transparent;
}
.navigation .dropdown .dropdown-toggle::after {
	margin-left: 0.3rem;
	content: "\f107";
	font-family: "Font Awesome 5 Free";
	font-weight: 700;
	border: 0;
	vertical-align: 0;
}

@media (max-width: 991px) {
	.fixed-menu {
		padding: 5px 15px !important;
		background-color: #f1f2f4;
	}
	.navigation {
		background-color: #f1f2f4;
		padding: 5px 8px;
	}
	.navigation .navbar-nav .nav-item .nav-link {
		line-height: 0px;
		font-size: 14px;
		font-weight: 400;
		margin: 20px 0 !important;
		text-align: center;
	}
	.navigation .navbar-toggler i {
		font-size: 28px;
	}
}
@media (max-width: 767px) {
	.fixed-menu {
		padding: 5px 0px !important;
		background-color: #f1f2f4;
	}
	.navigation {
		padding: 5px 0px;
		background-color: #f1f2f4;
	}
	.navigation .navbar-nav .nav-item .nav-link {
		line-height: 0px;
		font-size: 14px;
		font-weight: 400;
		margin: 10px 0 !important;
		padding: 8px;
	}
}
@media (max-width: 575px) {
	.fixed-menu {
		padding: 5px 0px !important;
		background-color: #f1f2f4;
	}
	.navigation {
		padding: 5px 0px;
		background-color: #f1f2f4;
	}
	.navigation .navbar-nav .nav-item .nav-link {
		padding-left: 0px;
		line-height: 0px;
		font-size: 14px;
		font-weight: 400;
		margin: 10px 0 !important;
	}
}

@media (max-width: 344px) {
	.navigation .navbar-brand span {
		display: none;
	}
}
@media (max-width: 575px) {
	.navigation .navbar-brand {
		font-size: 20px;
	}
	.has-circle {
		display: none;
	}
}
.brand-logo {
	text-align: center;
}
.brand-logo .brand-logo-img {
	max-width: 20%;
	margin: 0 30px;
	height: 60px;
}
.brand-logo .brand-logo-img:last-child {
	margin-right: 0;
}
.brand-logo .brand-logo-img img.img-fluid {
	width: auto;
	height: 100%;
	margin: 0 auto;
	object-fit: contain;
}
@media (max-width: 991px) {
	.brand-logo {
		text-align: center;
	}
}

.emwidget-header {
	background-color: #111;
}


.fillpage {
	min-height: calc(100vh - 209px);
}
footer {
	--background-color: rgba(0, 0, 0, 0.8);
	color: var(--default-color);
	background-color: var(--background-color);
	font-size: 14px;
	position: relative!important;
}
footer .btn-icon {
	font-size: 18px;
	color: var(--accent-color);
}
footer .btn-icon:hover {
	color: var(--accent-color) !important;
}
@keyframes animate-preloader {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
.scroll-top {
	position: fixed;
	visibility: hidden;
	opacity: 0;
	right: 15px;
	bottom: 15px;
	z-index: 99999;
	background-color: var(--accent-color);
	width: 40px;
	height: 40px;
	border-radius: 4px;
	transition: all 0.4s;
}
.scroll-top i {
	font-size: 24px;
	color: var(--contrast-color);
	line-height: 0;
}
.scroll-top:hover {
	background-color: color-mix(in srgb, var(--accent-color), transparent 20%);
	color: var(--contrast-color);
}
.scroll-top.active {
	visibility: visible;
	opacity: 1;
}
@media screen and (max-width: 768px) {
	[data-aos-delay] {
		transition-delay: 0 !important;
	}
}
.page-title {
	color: var(--default-color);
	background-color: var(--background-color);
	position: relative;
}
.page-title .heading {
	padding: 80px 0;
	border-top: 1px solid
		color-mix(in srgb, var(--default-color), transparent 90%);
}
.page-title .heading h1 {
	font-size: 38px;
	font-weight: 700;
}
.page-title nav {
	background-color: color-mix(in srgb, var(--default-color), transparent 95%);
	padding: 20px 0;
}
.page-title nav ol {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-weight: 400;
}
.page-title nav ol li + li {
	padding-left: 10px;
}
.page-title nav ol li + li::before {
	content: "/";
	display: inline-block;
	padding-right: 10px;
	color: color-mix(in srgb, var(--default-color), transparent 70%);
}
.main section,
.main .section {
	color: var(--default-color);
	/* background-color: var(--background-color); */
	padding: 60px 0;
	scroll-margin-top: 80px;
	overflow: clip;
}
@media (max-width: 1199px) {
	section,
	.section {
		scroll-margin-top: 58px;
	}
}
.section-title {
	padding-bottom: 60px;
	position: relative;
}
.section-title h2 {
	font-size: 14px;
	font-weight: 500;
	padding: 0;
	line-height: 1px;
	margin: 0;
	letter-spacing: 1.5px;
	text-transform: uppercase;
	color: color-mix(in srgb, var(--default-color), transparent 50%);
	position: relative;
}
.section-title h2::after {
	content: "";
	width: 120px;
	height: 1px;
	display: inline-block;
	background: var(--accent-color);
	margin: 4px 10px;
}
.section-title p {
	color: var(--heading-color);
	margin: 0;
	font-size: 36px;
	font-weight: 700;
	text-transform: uppercase;
}
.hero {
	width: 100%;
	min-height: 100vh;
	position: relative;
	padding: 120px 0 80px 0;
	display: flex;
	align-items: center;
	justify-content: center;
}
.hero video {
	position: absolute;
	inset: 0;
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: 1;
	opacity: 0.15;
	/* filter: blur(7px); */
}
.hero:before {
	/* content: ""; */
	background: rgba(0, 0, 0, 0.15);
	position: absolute;
	inset: 0;
	z-index: 2;
}
.hero .container {
	position: relative;
	z-index: 3;
	padding: 2rem;
	background: rgb(255 255 255 / 95%);
	border-radius: 16px;
	backdrop-filter: blur(3px);
}
.hero h2 {
	margin: 0;
	font-size: 56px;
	font-weight: 700;
	font-family: var(--nav-font);
	color: #444;
}
.hero h2 span {
	color: var(--accent-color);
}
.hero p {
	margin: 10px 0 0 0;
	font-size: 24px;
	color: #444;
}
.hero .icon-box {
	padding: 30px 20px;
	transition: ease-in-out 0.3s;
	/* border: 1px solid color-mix(in srgb, var(--default-color), transparent 70%); */
	height: 100%;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	/* justify-content: center; */
	background: rgba(255, 255, 255, 0.05);
	/* backdrop-filter: blur(5px); */
	border-radius: 8px;
	overflow: hidden;
	box-shadow: 2px 1px 4px #dfdfdf, 0px 0px 5px #dfdfdf;
}
.hero .icon-box i {
	font-size: 32px;
	line-height: 1;
	color: var(--accent-color);
}
.hero .icon-box p {
	margin: 10px 0 0 0;
	padding: 0;
	line-height: 1;
	font-size: 18px;
	line-height: 26px;
}
.hero .icon-box:hover {
	border-color: var(--accent-color);
	background: rgb(89 89 89 / 5%);
}
.hero .icon-box:hover h3 a {
	color: var(--accent-color);
}
@media (max-width: 768px) {
	.hero h2 {
		font-size: 32px;
	}
	.hero p {
		font-size: 18px;
	}
}
.features .features-image {
	position: relative;
	min-height: 400px;
}
.features .features-image img {
	position: absolute;
	inset: 0;
	display: block;
	width: 100%;
	height: 100%;
	object-fit: contain;
	z-index: 1;
}
.features .features-item h4 {
	font-size: 20px;
	font-weight: 700;
	margin: 0 0 5px 0;
}
.features .features-item i {
	font-size: 48px;
	color: var(--accent-color);
	margin-right: 20px;
	line-height: 0;
}
.features .features-item p {
	font-size: 15px;
	color: color-mix(in srgb, var(--default-color), transparent 20%);
	margin: 0;
}
.services .service-item {
	background-color: var(--surface-color);
	text-align: center;
	border: 1px solid color-mix(in srgb, var(--default-color), transparent 85%);
	padding: 80px 20px;
	height: 100%;
	transition: all ease-in-out 0.3s;
}
.services .service-item .icon {
	background: var(--accent-color);
	color: var(--contrast-color);
	margin: 0 auto;
	width: 64px;
	height: 64px;
	border-radius: 4px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 20px;
	transition: 0.3s;
}
.services .service-item .icon i {
	font-size: 28px;
	transition: ease-in-out 0.3s;
}
.services .service-item h3 {
	font-weight: 700;
	margin: 10px 0 15px 0;
	font-size: 22px;
	transition: 0.3s;
}
.services .service-item p {
	line-height: 24px;
	font-size: 14px;
	margin-bottom: 0;
}
.services .service-item:hover {
	box-shadow: 0px 0 25px 0 rgba(0, 0, 0, 0.1);
	transform: translateY(-10px);
}
.portfolio .portfolio-filters {
	padding: 0;
	margin: 0 auto 20px auto;
	list-style: none;
	text-align: center;
}
.portfolio .portfolio-filters li {
	cursor: pointer;
	display: inline-block;
	padding: 8px 20px 10px 20px;
	margin: 0;
	font-size: 15px;
	font-weight: 500;
	line-height: 1;
	margin-bottom: 5px;
	border-radius: 4px;
	transition: all 0.3s ease-in-out;
	font-family: var(--heading-font);
}
.portfolio .portfolio-filters li:hover,
.portfolio .portfolio-filters li.filter-active {
	color: var(--contrast-color);
	background-color: var(--accent-color);
}
.portfolio .portfolio-filters li:first-child {
	margin-left: 0;
}
.portfolio .portfolio-filters li:last-child {
	margin-right: 0;
}
@media (max-width: 575px) {
	.portfolio .portfolio-filters li {
		font-size: 14px;
		margin: 0 0 10px 0;
	}
}
.portfolio .portfolio-item {
	position: relative;
	overflow: hidden;
}
.portfolio .portfolio-item .portfolio-info {
	opacity: 0;
	position: absolute;
	left: 12px;
	right: 12px;
	bottom: -100%;
	z-index: 3;
	transition: all ease-in-out 0.5s;
	background: color-mix(in srgb, var(--background-color), transparent 10%);
	padding: 15px;
}
.portfolio .portfolio-item .portfolio-info h4 {
	font-size: 18px;
	font-weight: 600;
	padding-right: 50px;
}
.portfolio .portfolio-item .portfolio-info p {
	color: color-mix(in srgb, var(--default-color), transparent 30%);
	font-size: 14px;
	margin-bottom: 0;
	padding-right: 50px;
}
.portfolio .portfolio-item .portfolio-info .preview-link,
.portfolio .portfolio-item .portfolio-info .details-link {
	position: absolute;
	right: 50px;
	font-size: 24px;
	top: calc(50% - 14px);
	color: color-mix(in srgb, var(--default-color), transparent 30%);
	transition: 0.3s;
	line-height: 0;
}
.portfolio .portfolio-item .portfolio-info .preview-link:hover,
.portfolio .portfolio-item .portfolio-info .details-link:hover {
	color: var(--accent-color);
}
.portfolio .portfolio-item .portfolio-info .details-link {
	right: 14px;
	font-size: 28px;
}
.portfolio .portfolio-item:hover .portfolio-info {
	opacity: 1;
	bottom: 0;
}
#contact {
	margin-top: 64px;
}
.contact .info-item + .info-item {
	margin-top: 40px;
}
.contact .info-item i {
	color: var(--contrast-color);
	background: var(--accent-color);
	font-size: 20px;
	width: 44px;
	height: 44px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 4px;
	transition: all 0.3s ease-in-out;
	margin-right: 15px;
}
.contact .info-item h3 {
	padding: 0;
	font-size: 18px;
	font-weight: 700;
	margin-bottom: 5px;
}
.contact .info-item p {
	padding: 0;
	margin-bottom: 0;
	font-size: 14px;
}
.contact .php-email-form {
	height: 100%;
}
.contact .php-email-form input[type="text"],
.contact .php-email-form input[type="email"],
.contact .php-email-form textarea {
	font-size: 14px;
	padding: 10px 15px;
	box-shadow: none;
	border-radius: 0;
	color: var(--default-color);
	background-color: color-mix(
		in srgb,
		var(--background-color),
		transparent 50%
	);
	border-color: color-mix(in srgb, var(--default-color), transparent 80%);
}
.contact .php-email-form input[type="text"]:focus,
.contact .php-email-form input[type="email"]:focus,
.contact .php-email-form textarea:focus {
	border-color: var(--accent-color);
}
.contact .php-email-form input[type="text"]::placeholder,
.contact .php-email-form input[type="email"]::placeholder,
.contact .php-email-form textarea::placeholder {
	color: color-mix(in srgb, var(--default-color), transparent 70%);
}
.contact .php-email-form button[type="submit"] {
	color: var(--contrast-color);
	background: var(--accent-color);
	border: 0;
	padding: 10px 30px;
	transition: 0.4s;
	border-radius: 4px;
}
.contact .php-email-form button[type="submit"]:hover {
	background: color-mix(in srgb, var(--accent-color), transparent 20%);
}
.portfolio-details .portfolio-details-slider img {
	width: 100%;
}
.portfolio-details .portfolio-details-slider .swiper-pagination {
	margin-top: 20px;
	position: relative;
}
.portfolio-details
	.portfolio-details-slider
	.swiper-pagination
	.swiper-pagination-bullet {
	width: 12px;
	height: 12px;
	background-color: color-mix(in srgb, var(--default-color), transparent 85%);
	opacity: 1;
}
.portfolio-details
	.portfolio-details-slider
	.swiper-pagination
	.swiper-pagination-bullet-active {
	background-color: var(--accent-color);
}
.portfolio-details .portfolio-info {
	background-color: var(--surface-color);
	padding: 30px;
	box-shadow: 0px 0 30px rgba(0, 0, 0, 0.1);
}
.portfolio-details .portfolio-info h3 {
	font-size: 22px;
	font-weight: 700;
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid
		color-mix(in srgb, var(--default-color), transparent 85%);
}
.portfolio-details .portfolio-info ul {
	list-style: none;
	padding: 0;
	font-size: 15px;
}
.portfolio-details .portfolio-info ul li + li {
	margin-top: 10px;
}
.portfolio-details .portfolio-description {
	padding-top: 30px;
}
.portfolio-details .portfolio-description h2 {
	font-size: 26px;
	font-weight: 700;
	margin-bottom: 20px;
}
.portfolio-details .portfolio-description p {
	padding: 0;
	color: color-mix(in srgb, var(--default-color), transparent 30%);
}
