#set( $xmledithome = $context.getContentProperty("xmledithome"))
$context.putPageValue("xmledithome",$xmledithome)

#set( $readonly = $context.getRequestParameter("detailsreadonly"))
#ifnull($readonly)
	#set( $readonly = "false" )
#end
#set( $alwaysshow = $context.getRequestParameter("alwaysshow"))
#set( $multiedit = $context.getRequestParameter("multiedit"))
#ifnull($multiedit)
	#set( $multiedit = "false")
#end

#if ( $multiedit == "true" )
	#set( $multiedit = true)
#else
	#set( $multiedit = false)
#end
$context.putPageValue("multiedit",$multiedit)
$context.putPageValue("longform",false)

##We need 3 things passed in: $searcher, $view, $data


#if ($viewid)

	#ifnull($details)
		#set( $viewdata = $mediaarchive.getCachedData("view", $viewid) ) 
		#ifnull($viewdata)
			ViewData not found <strong>$viewid</strong>
		#end
		#set ($details = $searcher.getDetailsForView($viewdata, $context.getUserProfile()))
		
		
	#end	
	#ifnull($details)
		#set ($details = $searcher.getDetailsForView($viewid, $context.getUserProfile()))
	#end	
	
	#ifnull($details)
		[[No details available for view: <strong>$viewid</strong>.  Please configure your view fields.]]

	#end
#else
	##leagacy check. We used to pass in the $details
	#if( !$details)
	#set ($details = $searcher.getPropertyDetails())
	#end
#end



#set ($mode = $user.get("oe_edit_mode"))
#if($viewid)
	#if($mode && ($mode == "debug" || $mode == "editing" ))
		<span class="widget-header-edit">
		<a class="ir emdialog" data-autoclose="false" href="$apphome/views/settings/lists/datamanager/views/indexdialog.html?viewpath=$view&searchtype=$searcher.searchType&viewid=$viewid">
		[[Edit]]
		</a>
		</span>
	#end
#end

<div id="allerrors"></div>
<div class="d-flex flex-column">
	#foreach( $detail in $details )
	
		#set($detail_id = $detail.getId())
	
		#set( $value = false)
		#set( $target = "${detail.id}.value")
		#set( $value = $context.getRequestParameter($target))		
		#if( !$value)
			#set( $value = $searcherManager.getValue($data, $detail, $context.getLocale()) )
		#end
	
		$!context.putPageValue("detail",$detail)
		$!context.putPageValue("value",$value)
		$!context.putPageValue("val",$value)
		
		<div class="form-group detail-input input-$detail_id p-2 mb-1" >
			<label for="$detail_id" class="input-label">
					$detail.getText($context)
			</label>
			<div class="input-wrapper">
				$pages.include("$xmledithome/detailedit.html", $context)
			</div>
		</div>
	#end
</div>
