#set($collectivesection = $content.collectivesection)

<section class="mainsection space-top-1">
	<div class="container">
		<div class="community-layout bg-white"> 

				#if($collectivesection == "settings")
					<div  class="sidebar-left">
					<button class="btn btn-sm community-drawer-close">
						<i class="fas fa-times text-muted"></i>
					</button>
					#if($collectivesection == "settings")
						$pages.include("${communityhome}/project/admin/sidebar.html",$context)
					#end
					</div>
				#end
				
			<div class="main-content">
				$pages.include("${communityhome}/project/layout/project-header.html",$context)
				<div id="maincontent">
					$pages.includeContent()	
				</div>
			</div>
			
			#if($collectivesection != "settings")
			<div class="sidebar-right">

				$pages.include("${communityhome}/project/layout/sidebar-right.html",$context)
				
			</div>
			#end
			<div id="community-drawer-mask" class="community-drawer-close" role="button" style="display: none;"></div>
		</div>
	</div>
</section>

