:root {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0)
  );
}

.modal {
	--bs-modal-bg: #fff;
  	--bs-modal-color: #000;
}


body {
  font-family: "Roboto", sans-serif;
  font-size: 1.15rem;
  line-height: 1.5;
  color: #111;
  background-color: #fff;
  font-weight: 500;
  overflow-x: hidden;
}
.bg-dark {
	background-color: #3b3d50!important;
	color: #fff;
}
p,
.paragraph {
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

@media (max-width: 575px) {
  p,
  .paragraph {
    font-size: 16px;
  }
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  color: inherit;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}



@media (max-width: 575px) {
  h2,
  .h2 {
    font-size: 26px;
    line-height: 36px;
  }
}
@media (max-width: 767px) {
  h2,
  .h2 {
    font-size: 28px;
    line-height: 45px;
  }
}
@media (max-width: 991px) {
  h2,
  .h2 {
    font-size: 30px;
    line-height: 48px;
  }
}
@media (max-width: 1199px) {
  h2,
  .h2 {
    font-size: 28px;
    line-height: 40px;
  }
}
h3,
.h3 {
  font-size: 26px;
  line-height: 32px;
}

@media (max-width: 575px) {
  h3,
  .h3 {
    font-size: 24px;
    line-height: 26px;
  }
}
@media (max-width: 767px) {
  h3,
  .h3 {
    font-size: 26px;
    line-height: 28px;
  }
}
@media (max-width: 991px) {
  h3,
  .h3 {
    font-size: 28px;
    line-height: 30px;
  }
}
@media (max-width: 1199px) {
  h3,
  .h3 {
    font-size: 32px;
  }
}
h4,
.h4 {
  font-size: 24px;
  line-height: 24px;
}

@media (max-width: 575px) {
  h4,
  .h4 {
    font-size: 18px;
    line-height: 20px;
  }
}
@media (max-width: 767px) {
  h4,
  .h4 {
    font-size: 20px;
    line-height: 18px;
  }
}
@media (max-width: 991px) {
  h4,
  .h4 {
    font-size: 22px;
    line-height: 22px;
  }
}
h5,
.h5 {
  font-size: 22px;
  line-height: 28px;
}

@media (max-width: 575px) {
  h5,
  .h5 {
    font-size: 16px;
    line-height: 24px;
  }
}
@media (max-width: 767px) {
  h5,
  .h5 {
    font-size: 17px;
    line-height: 24px;
  }
}
@media (max-width: 991px) {
  h5,
  .h5 {
    font-size: 17px;
    line-height: 24px;
  }
}
h6,
.h6 {
  font-size: 20px;
  line-height: 20px;
}

/* Button style */
.btn {
  font-family: "Roboto", sans-serif;
  border-radius: 9px;
  border: none;
  transition: 0.2s ease;
}
.btn-xxs {
    padding: 0.15rem 0.25rem;
    border-radius: 6px;
    }
.btn-sm {
    padding: 0.8rem 1.2rem;
    }
.btn-xs {
    padding: 0.4rem 0.6rem;
    line-height: 1.1;
}
.btn.btn-lg {
  padding: 12px 40px;
  font-size: 20px;
}

.btn-primary {
	  background-color: #626584;
  color: #fff;
}
.btn-light {
	background-color:  #b2b4cb!important;;
	color: #363950!important;
}
.btn-danger {
	background-color: #a55261;
}
.btn-warning {
	color: #363950!important;
}
.btn.btn-outline-transparent,
.btn.btn-transparent {
  background-color: transparent;
  border-color: #626584;
}
.btn.btn-transparent {
  background-color: transparent;
  color: #f1f2f4;
  padding: 4px;
  border: none;
}
.btn.btn-transparent:hover {
  background-color: transparent !important;
}
.btn.btn-outline-transparent:hover {
  background-color: #62658499 !important;
  color: #fff;
}
@media (max-width: 767px) {
  .btn {
    padding: 8px 40px;
    font-size: 16px;
  }
}
.btn:hover,
.btn:active,
.btn.active,
.btn:focus,
.btn.focus {
  outline: 0;
  box-shadow: none !important;
  background-color: #45485e !important;
  color:#fff!important;
}
.themed-btn {
  color: #fff !important;
  background: #626584 !important;
  border-color: #626584;
}
.btn-primary {
  color: #fff !important;
  background: #626584;
  border-color: #626584;
}
.themed-btn:hover,
.themed-btn:active,
.themed-btn.active,
.themed-btn:focus,
.themed-btn.focus,
.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary:focus,
.btn-primary.focus {
  background-color: #6e7091 !important;
  border-color: #6e7091 !important;
  color: #ffffff;
}

.btn-outline-primary {
  background: transparent;
  color: #bdc1ee;
  border: 1px solid #626584;
  font-size: 15px;
}
.btn-outline-primary:hover,
.btn-outline-primary:active,
.btn-outline-primary.active,
.btn-outline-primary:focus,
.btn-outline-primary.focus {
  background: #626584 !important;
  border-color: #626584 !important;
  color: #fff !important;
}
.project-card a.name {
  color: #626584 !important;
}

* {
  margin: 0;
  padding: 0;
}

::-moz-selection {
  background-color: #626584;
  color: #fff;
}

::selection {
  background-color: #626584;
  color: #fff;
}

ol,
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a {
  transition: 0.4s;
}
a:hover {

}

.text-primary {
  color: #626584 !important;
}

.text-secondery {
  color: #555555 !important;
}

.text-tertiary {
  color: #222222 !important;
}

.bg-primary {
  background-color: #f1f2f4 !important;
}

.radius {
  border-radius: 8px !important;
}

.shadow {
  box-shadow: 0px 15px 55px rgba(0, 0, 0, 0.06) !important;
}

.fw-medium {
  font-weight: 500;
}

.font-primary p,
.font-primary h1,
.font-primary .h1,
.font-primary h2,
.font-primary .h2,
.font-primary h3,
.font-primary .h3,
.font-primary h4,
.font-primary .h4,
.font-primary h5,
.font-primary .h5,
.font-primary h6,
.font-primary .h6 {
  font-family: "Roboto", sans-serif;
}

.form-control {
  /* padding: 0.5rem; */
}
.form-control:focus {
  box-shadow: none;
  border-color: #626584;
}
.select2-container {
}
.form-check {
  font-size: 0.933rem;
  font-weight: 500;
  padding: 0;
  margin-bottom: 2rem;
}
.form-check label {
  color: #b7b7b7;
  margin: 0;
  cursor: pointer;
}
.form-check .form-check-input {
  margin: 6px 8px 0 0;
  cursor: pointer;
}
header.navigation {
  background-color: #2b2d3b;
}
.form-check-input:checked {
  background-color: #626584;
  border-color: #626584;
}
.form-check-input:focus {
  border-color: #626584;
  box-shadow: 0 0 0 0.25rem rgba(255, 87, 51, 0.25);
}

.section {
  padding-top: 100px;
  padding-bottom: 100px;
}
@media (max-width: 575px) {
  .section {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

.section-title strong {
  position: relative;
}
.section-title strong svg {
  position: absolute;
  right: 0;
  bottom: -20px;
  max-width: 100%;
}

.backtotop {
  width: 50px;
  height: 50px;
  background: #626584;
  color: #fff;
  position: fixed;
  bottom: 20px;
  right: 0px;
  display: none;
  border: 0;
  text-align: center;
  line-height: 50px;
}
.project-list-container,
.community-layout {
  min-height: calc(100vh - 98px);
}
.preloader {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
}

.dots {
  border: 0 solid transparent;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  position: absolute;
  top: calc(50vh - 75px);
  left: calc(50vw - 75px);
}
.dots::before,
.dots::after {
  content: "";
  border: 15px solid rgba(54, 150, 178, 0.5);
  border-radius: 50%;
  width: inherit;
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: loader 2s linear infinite;
  animation: loader 2s linear infinite;
  opacity: 0;
}
.dots::after {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

@-webkit-keyframes loader {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    transform: scale(0.7);
    opacity: 0;
  }
}

@keyframes loader {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    transform: scale(0.7);
    opacity: 0;
  }
}
.footer-top {
  background: #45485e;
}
footer {
  background-color: #45485e;
}
.modal-content {

}
.modal-header {
	background-color: #45485e;
  border-bottom-color: #626584;
  color:#fff;
}
.modal-footer {
  border-top-color: #626584;
}
.modal-header .btn-close,
.modal-header .btn-close:hover {
  filter: invert(1);
}
.content p {
  color: #222222;
}
.content * {
  margin-bottom: 35px;
}
.content h2,
.content .h2,
.content h3,
.content .h3,
.content h4,
.content .h4 {
  margin-bottom: 1rem;
}
.content img {
  max-width: 100%;
}
.content a {
  color: #9acfe0;
}
.content a:hover {
  color: #626584;
}
.content ol,
.content ul {
  padding-left: 1.33rem;
}
.content ol li,
.content ul li {
  margin-bottom: 0.66rem;
}
.content blockquote {
  font-size: 1.6rem !important;
  color: #222222;
  padding: 2.665rem 5.33rem;
  margin: 2.665rem 0;
  font-weight: 500;
  background: #f8f8f8;
  border-radius: 1rem;
  line-height: 32px;
  font-style: italic;
  font-family: "Roboto", sans-serif;
}
@media (max-width: 767px) {
  .content blockquote {
    padding: 2.665rem;
  }
}
.content blockquote h3,
.content blockquote .h3 {
  position: relative;
  z-index: 1;
  font-size: 25px;
  line-height: 40px;
}
@media (max-width: 767px) {
  .content blockquote h3,
  .content blockquote .h3 {
    font-size: 18px;
  }
}
.content blockquote h3::before,
.content blockquote .h3::before,
.content blockquote h3::after,
.content blockquote .h3::after {
  position: absolute;
  color: #626584;
  font-size: 2.13rem;
  font-family: "Font Awesome 5 Free";
}
.content blockquote h3::before,
.content blockquote .h3::before {
  left: -4rem;
  top: -1.266rem;
  content: "\f10d";
}
@media (max-width: 767px) {
  .content blockquote h3::before,
  .content blockquote .h3::before {
    left: -2.4rem;
  }
}
.content blockquote h3::after,
.content blockquote .h3::after {
  right: 0;
  bottom: -3rem;
  content: "\f10e";
}
@media (max-width: 767px) {
  .content blockquote h3::after,
  .content blockquote .h3::after {
    right: -1.667rem;
  }
}
.content blockquote p {
  margin-bottom: 0 !important;
  font-size: 1.33rem;
  font-weight: 400;
  color: #555555;
  margin-top: 0.66rem;
}

.fixed-menu {
  background-color: #fff;
}
.fixed-menu .navbar-nav .nav-item .nav-link {
  margin: 10px 0 !important;
}
.fixed-menu .dropdown-menu {
  margin-top: 0 !important;
}

.navigation {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  transition: 0.4s;
  color: black;
  z-index: 999;
}
.navigation .navbar-brand {
  color: #efefef;
  font-size: 26px;
  line-height: 16px;
  font-weight: 700;
}
.navigation .navbar-brand i {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  color: #ffffff;
  /* border: 1px solid #626584; */
  background-color: transparent;
  text-align: center;
  line-height: 50px;
  margin-right: 10px;
  font-size: 20px;
}
.navigation .navbar-brand:hover {
  color: #ffffff !important;
}
.navigation .navbar-toggler {
  padding: 10px 15px;
  font-size: 24px;
  line-height: 1;
  color: #ffffff;
  /* background-color: #fff; */
  border: 0;
  border-radius: 0;
  transition: none;
}
.navigation .navbar-toggler:focus {
  box-shadow: none;
}
@media (min-width: 992px) {
  .navigation .navbar-nav .nav-item:not(:last-child) {
    margin-right: 12px;
  }
}
.navigation .navbar-nav .nav-item .nav-link {
  margin-top: 35px;
  margin-bottom: 30px;
  color: #c1c1c1;
  padding: 0 20px;
  font-size: 18px;
  line-height: 14px;
  font-weight: 600;
  transition: 0.4s;
}
.navigation .navbar-nav .nav-item .nav-link:hover {
  font-weight: 600;
  color: #ffffff !important;
}
.navigation .navbar-nav .nav-item .active {
  color: #ffffff;
  font-weight: 700;
}
.btn-searchprojects {
	margin-top: 28px;
}
@media (min-width: 992px) {
  .navigation .dropdown:hover ul.dropdown-menu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
  }
  .navigation .dropdown-menu {
    display: block;
    opacity: 0;
    visibility: hidden;
    transform: translateY(20px);
    margin-top: -8px;
  }
}
.navigation .dropdown-menu {
  border: 0;
  background: #fff;
  box-shadow: 0 1.5rem 4rem rgba(63, 63, 65, 0.15);
  padding: 5px 16px;
  transition: 0.3s;
  min-width: 11rem;
}
.navigation .dropdown-menu li:not(:last-child) {
  margin-bottom: 7px;
}
.navigation .dropdown-menu li a {
  padding: 2px 1.067rem;
  border-radius: 5px;
}
.navigation .dropdown-menu .dropdown-item {
  text-transform: capitalize;
  font-weight: 400;
  transition: 0.3s;
}
.navigation .dropdown-menu .dropdown-item.active,
.navigation .dropdown-menu .dropdown-item:active,
.navigation .dropdown-menu .dropdown-item:hover {
  color: #626584;
  background-color: transparent;
}
.navigation .dropdown .dropdown-toggle::after {
  margin-left: 0.3rem;
  content: "\f107";
  font-family: "Font Awesome 5 Free";
  font-weight: 700;
  border: 0;
  vertical-align: 0;
}
.card-block h2 {
  color: #626584;
}
.chatterbox-write .btn.chatter-send {
  padding: 0.375rem 0.75rem;
}
.emdata .tableheader {
	background: none;
}
.chatterbox-write .chatter-send,
.emwidget-header,
.emdata .tableheader,
.project-sidebar-menu li.current a {
  background-color: #626584;
}
.project-sidebar-menu li.current a:hover {
  background-color: #626584;
}
.project-sidebar-menu li.current a::after {
  border-left-color: #626584;
}
#main-results-table th, .emresultstable th, .emdata th {
	font-size: 0.9rem;
}
@media (max-width: 991px) {
  .fixed-menu {
    padding: 5px 15px !important;
    background-color: #f1f2f4;
  }
  .navigation {
    background-color: #f1f2f4;
    padding: 5px 8px;
  }
  .navigation .navbar-nav .nav-item .nav-link {
    line-height: 0px;
    font-size: 14px;
    font-weight: 400;
    margin: 20px 0 !important;
    text-align: center;
  }
  .navigation .navbar-toggler i {
    font-size: 28px;
  }
}
@media (max-width: 767px) {
  .fixed-menu {
    padding: 5px 0px !important;
    background-color: #f1f2f4;
  }
  .navigation {
    padding: 5px 0px;
    background-color: #f1f2f4;
  }
  .navigation .navbar-nav .nav-item .nav-link {
    line-height: 0px;
    font-size: 14px;
    font-weight: 400;
    margin: 10px 0 !important;
    padding: 8px;
  }
}

@media (max-width: 575px) {
  .fixed-menu {
    padding: 5px 0px !important;
    background-color: #f1f2f4;
  }
  .navigation {
    padding: 5px 0px;
    background-color: #f1f2f4;
  }
  .navigation .navbar-nav .nav-item .nav-link {
    padding-left: 0px;
    line-height: 0px;
    font-size: 14px;
    font-weight: 400;
    margin: 10px 0 !important;
  }
}
.hero-img {
  display: inline-block;
}
.hero-img img {
  width: 100px;
  border: 5px solid #9acfe0;
  border-radius: 50%;
}

.shape {
  position: absolute;
}

.shape-1 {
  left: calc(50% - 65px);
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -2;
  width: 65px;
  height: 65px;
  background-color: transparent;
  border-radius: 50%;
  border: 20px solid #626584;
}

.shape-2 {
  left: calc(50% - 96px);
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -3;
  width: 32.5px;
  height: 32.5px;
  background: transparent;
  border-radius: 50%;
  border: 20px solid #9acfe0;
}

.shape-3 {
  right: calc(50% - 132px);
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -2;
  width: 65px;
  height: 65px;
  background-color: transparent;
  border-radius: 50%;
  border: 20px solid #626584;
}

.shape-4 {
  right: calc(50% - 138px);
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -3;
  width: 32.5px;
  height: 32.5px;
  background: transparent;
  border-radius: 50%;
  border: 20px solid #9acfe0;
}

.has-circle {
  position: relative;
  top: -250px;
}
.has-circle .circle {
  position: absolute;
  pointer-events: none;
}
.has-circle .circle-1 {
  left: -200px;
  top: 60%;
  width: 370px;
  height: 370px;
  border: 1px solid #626584;
  border-radius: 50%;
}
.has-circle .circle-2 {
  width: 75px;
  height: 75px;
  border: 1px solid #626584;
  border-radius: 50%;
  top: -130px;
  left: 10%;
}
.has-circle .circle-3 {
  width: 38px;
  height: 38px;
  border: 1px solid #626584;
  border-radius: 50%;
  left: 19%;
  top: 220px;
}
.has-circle .circle-4 {
  width: 30px;
  height: 30px;
  border: 1px solid #626584;
  border-radius: 50%;
  right: 15%;
  top: -130px;
}
.has-circle .circle-5 {
  width: 135px;
  height: 135px;
  border: 1px solid #626584;
  border-radius: 50%;
  right: 12%;
  top: 180px;
}
.has-circle .circle-6 {
  width: 280px;
  height: 140px;
  border-radius: 50% 50% 0 0/100% 100% 0 0;
  border: 1px solid #626584;
  border-bottom: 0;
  right: -70px;
  transform: rotate(270deg);
  top: -45px;
}
.has-circle .circle-7 {
  width: 60px;
  height: 30px;
  border-radius: 50% 50% 0 0/100% 100% 0 0;
  border: 1px solid #626584;
  border-bottom: 0;
  right: -15px;
  transform: rotate(270deg);
  bottom: -350px;
}
@media (max-width: 344px) {
  .navigation .navbar-brand span {
    display: none;
  }
}

@media (max-width: 575px) {
  .navigation .navbar-brand {
    font-size: 20px;
  }
  .has-circle {
    display: none;
  }
  .btn {
    padding: 13px 30px;
  }
}
@media (max-width: 767px) {
  .hero-area p {
    margin: 0 0 30px 0;
  }
  .has-circle {
    display: none;
  }
}
@media (max-width: 991px) {
  .has-circle .circle-1 {
    width: 300px;
    height: 300px;
  }
  .has-circle .circle-3 {
    top: 30px;
  }
  .has-circle .circle-5 {
    right: 8%;
    top: 162px;
  }
  .has-circle .circle-6 {
    width: 200px;
    height: 100px;
    right: -50px;
  }
}
.hero-area h2 {
  font-size: 2.5rem;
}

.hero-area h3 {
  font-size: 1.5rem;
  font-weight: 300;
}
.hero-community h2 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 16px;
}
.hero-community h3 {
  font-size: 1.35rem;
  font-weight: 300;
  line-height: 1.5;
}
@media (max-width: 1199px) {
  .hero-area .h1 {
    margin: 0 -50px;
  }
}
.brand-logo {
  text-align: center;
}
.brand-logo .brand-logo-img {
  max-width: 20%;
  margin: 0 30px;
  height: 60px;
}
.brand-logo .brand-logo-img:last-child {
  margin-right: 0;
}
.brand-logo .brand-logo-img img.img-fluid {
  width: auto;
  height: 100%;
  margin: 0 auto;
  object-fit: contain;
}

@media (max-width: 991px) {
  .brand-logo {
    text-align: center;
  }
}
.has-bg-color {
  position: relative;
  padding: 88px 0;
  overflow-x: hidden;
}
.has-bg-color::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  background-color: #f1f2f4;
  width: 50%;
  height: 100%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

@media (max-width: 575px) {
  .has-bg-color {
    text-align: center;
    padding: 0px 0;
  }
  .has-bg-color::after {
    display: none;
  }
  .has-bg-color h2,
  .has-bg-color .h2 {
    padding-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .has-bg-color {
    text-align: center;
    padding: 0px 0;
  }
  .has-bg-color::after {
    display: none;
  }
  .has-bg-color h2,
  .has-bg-color .h2 {
    padding-bottom: 30px;
  }
}
@media (max-width: 991px) {
  .has-bg-color {
    padding: 20px 0;
  }
  .has-bg-color p {
    font-size: 14px;
    line-height: 24px;
  }
}
.services {
  position: relative;
  overflow-x: hidden;
}
.services .card-item:nth-child(n + 1) .card-icon i {
  color: #0062ff;
}
.services .card-item:nth-child(n + 2) .card-icon i {
  color: #ffe974;
}
.services .card-item:nth-child(n + 3) .card-icon i {
  color: #ff6f6f;
}
.services .card-item:nth-child(n + 4) .card-icon i {
  color: #626584;
}
.services::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0px;
  width: 90%;
  height: 260px;
  transform: translateX(-50%);
  z-index: -1;
  background: #45485e;
}
.services .card {
  transition: 0.6s;
  background-color: #595b77;
}
.services .card:hover {
  transform: scale(0.97);
}
.services .card .card-icon i {
  font-size: 50px;
}
.services .card .card-body .card-title {
  margin-bottom: 20px;
  height: 50px;
}
.services .card .card-body .card-link {
  font-size: 16px;
  line-height: 15px;
}

@media (max-width: 575px) {
  .services {
    padding-bottom: 0px;
  }
  .services::after {
    display: none;
  }
}
@media (max-width: 767px) {
  .services {
    padding-bottom: 0px;
  }
  .services::after {
    display: none;
  }
}
@media (max-width: 991px) {
  .services {
    padding-bottom: 0px;
  }
  .services::after {
    display: none;
  }
}
.experience h2,
.experience .h2 {
  font-size: 46px;
}
.experience .d-flex :last-child {
  margin-right: 0 !important;
}

@media (max-width: 575px) {
  .experience h2,
  .experience .h2 {
    font-size: 28px;
  }
  .experience .block span {
    font-size: 14px;
  }
}
@media (max-width: 767px) {
  .experience h2,
  .experience .h2 {
    font-size: 30px;
  }
}
@media (max-width: 991px) {
  .experience h2,
  .experience .h2 {
    font-size: 36px;
  }
}
@media (max-width: 1199px) {
  .experience h2,
  .experience .h2 {
    font-size: 38px;
  }
  .experience h2 .box,
  .experience .h2 .box {
    padding: 25px 20px;
    margin-right: 10px;
  }
  .experience h2 .box .h2,
  .experience .h2 .box .h2 {
    font-size: 36px;
  }
  .experience h2 .box p,
  .experience .h2 .box p {
    font-size: 14px;
  }
}
.testimonial {
  position: relative;
}
.testimonial .bg-primary {
  padding-top: 32px;
  padding-bottom: 80px;
}
.testimonial .testimonial-left-slider .img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
.testimonial .testimonial-left-slider p {
  font-size: 18px;
  line-height: 30px;
}
.testimonial .testimonial-left-slider .prev-arrow {
  position: absolute;
  bottom: -70px;
  left: 11%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #efefef;
  text-align: center;
  line-height: 50px;
  color: #aaaaaa;
  font-size: 20px;
  transform: 4s !important;
}
.testimonial .testimonial-left-slider .prev-arrow:hover {
  background-color: #fff;
  color: #222222;
  cursor: pointer;
}
.testimonial .testimonial-left-slider .next-arrow {
  position: absolute;
  bottom: -70px;
  left: 22%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #efefef;
  text-align: center;
  line-height: 50px;
  color: #aaaaaa;
  font-size: 20px;
  transition: 0.3s;
  transform: 0.4s !important;
}
.testimonial .testimonial-left-slider .next-arrow:hover {
  background-color: #fff;
  color: #222222;
  cursor: pointer;
}

@media (max-width: 575px) {
  .testimonial {
    text-align: center;
  }
  .testimonial .quotation {
    display: none;
  }
  .testimonial .bg-primary {
    background-color: transparent !important;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .testimonial .testimonial-left-slider p {
    font-size: 14px;
    line-height: 28px;
    margin-left: 0 !important;
  }
  .testimonial .testimonial-right-slider .img {
    -o-object-position: center;
    object-position: center;
    -o-object-fit: contain;
    object-fit: contain;
    height: 200px;
  }
}
@media (max-width: 767px) {
  .testimonial {
    text-align: center;
  }
  .testimonial .quotation {
    display: none;
  }
  .testimonial .bg-primary {
    background-color: transparent !important;
    padding-top: 25px;
    padding-bottom: 0px;
  }
  .testimonial .testimonial-left-slider p {
    font-size: 14px;
    line-height: 28px;
    margin-left: 0 !important;
  }
  .testimonial .testimonial-right-slider .img {
    -o-object-position: center;
    object-position: center;
    -o-object-fit: contain;
    object-fit: contain;
    height: 300px;
  }
}
@media (max-width: 991px) {
  .testimonial .bg-primary {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .testimonial .testimonial-left-slider .quotation {
    width: 40px !important;
    height: 40px !important;
  }
  .testimonial .testimonial-left-slider p {
    font-size: 14px;
    line-height: 22px;
  }
  .testimonial .testimonial-left-slider .prev-arrow {
    bottom: -50px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
  }
  .testimonial .testimonial-left-slider .next-arrow {
    left: 30%;
    bottom: -50px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
  }
}
.projects {
  overflow-x: hidden;
}
.projects .card {
  position: relative;
}
.projects .card .card-img-overlay {
  background-image: linear-gradient(rgba(196, 196, 196, 0), rgba(0, 0, 0, 0.8));
  width: 100%;
  height: 100%;
  padding: 35px !important;
}
.projects .card .card-img-overlay .card-body {
  position: absolute;
  bottom: 0;
  padding-bottom: 35px !important;
}
.projects .card .card-img-overlay .card-body h4,
.projects .card .card-img-overlay .card-body .h4 {
  color: #fff;
}
.projects .card .meta-list {
  margin-top: 10px;
}
.projects .card .meta-list li {
  position: relative;
  font-size: 16px;
  line-height: 18px;
}
.projects .card .meta-list li:not(:last-child) {
  margin-right: 15px;
}
.projects .card .meta-list li:last-child::after {
  display: none;
}
.projects .card .meta-list li::after {
  position: absolute;
  content: "";
  right: -10px;
  top: 0;
  width: 1.8px;
  height: 15px;
  background-color: #fff;
  transform: rotate(20deg);
}

@media (max-width: 575px) {
  .projects .card .card-img-overlay {
    padding: 0px !important;
  }
  .projects .card .card-body {
    padding-bottom: 10px !important;
  }
}
@media (max-width: 767px) {
  .projects .card .card-img-overlay {
    padding: 10px !important;
  }
}
@media (max-width: 991px) {
  .projects .card .card-img-overlay {
    padding: 0px !important;
  }
  .projects .card .card-img-overlay .card-body {
    position: absolute;
    bottom: 0;
    padding-bottom: 10px !important;
  }
}
footer .footer-bottom a {
  color: #888888 !important;
  transition: 0.4s;
}

p a {
  transition: 0.4s;
  display: inline-block;
}

.list-inline .list-inline-item:not(:last-child) {
  margin-right: 30px;
}
.list-inline .list-inline-item a {
  color: #222222 !important;
  transition: 0.4s;
}
.list-inline .list-inline-item a:hover {
  color: #626584 !important;
}
.btn.sidebar-toggler-show {
  padding: 4px 6px;
  border: none;
  background-color: #626584 !important;
  top: 96px;
}
@media (max-width: 575px) {
  .btn.sidebar-toggler-show {
    padding: 4px 4px 0px;
  }
  .list-inline .list-inline-item:not(:last-child) {
    margin-right: 15px;
  }
}

.about-brand-logo .brand-logo-img {
  height: 100px;
}

.achivments-bg {
  background-color: #f1f2f4;
  padding: 75px 65px;
}
.achivments-bg .border-bottom:last-child {
  border-bottom: none !important;
  padding-bottom: 0 !important;
}
.nav-link.active {
  color: #626584;
  font-weight: 700;
  
}

@media (max-width: 575px) {
  .achivements {
    text-align: center;
  }
  .achivements .achivments-bg {
    padding: 30px 15px;
  }
}
@media (max-width: 767px) {
  .achivements {
    text-align: center;
  }
  .achivements .achivments-bg {
    padding: 50px 35px;
  }
}
@media (max-width: 991px) {
  .achivements .achivments-bg {
    padding: 60px 50px;
  }
  .nav-link.active::after {
    display: none;
  }
}
@media (max-width: 1199px) {
  .achivements .achivments-bg {
    padding: 55px 44px;
  }
}

ul > li {
  font-weight: normal !important;
  color: inherit;
}
.fw-thin {
  font-weight: 300;
}
.fw-normal {
  font-weight: 400;
}
.chip {
  display: inline-block;
  padding: 0.5em 1em;
  border-radius: 50px;
  background-color: white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  color: #626584;
  font-size: 16px;
  font-weight: 500;
  outline: 1px solid transparent;
  transition: all 0.2s;
}
.chip:hover {
  outline: 1px solid #626584;
}
.fs-small {
  font-size: 14px !important;
}

.login-area {
  min-height: calc(100vh - 148px);
  display: flex;
  flex-direction: column;
  width: 100%;
}
.login-area .container {
  height: 100%;
  flex: 1;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.login-area a {
  color: #a7a9be;
  font-size: inherit;
}
.loginformquestions {
  /* margin-top: auto; */
  font-size: 14px;
  font-weight: 400;
}
.login-area .page-title {
  font-size: 24px;
  font-weight: 700;
}
.login-area form {
  width: 720px;
  max-width: 100%;
  margin: 0 auto;
}
.login-area form label {
  font-size: 14px;
  font-weight: 500;
}
.login-area form input[type="submit"] {
  min-width: 100px;
  height: 100%;
  min-height: 40px;
  font-size: 1rem;
}
.login-area form .form-control {
  margin-bottom: 0;
  padding: 18px 12px;
}

.login-area .oauthproviderbtn img {
  width: 160px;
  height: auto;
  object-fit: contain;
  filter: brightness(0.8);
  border-radius: 16px;
  overflow: hidden;
}
.login-area .oauthproviderbtn:hover img {
  filter: brightness(1);
}
.login-area .row > * {
  margin-top: 0;
}
.project-form {
  width: 480px;
  margin: 0 auto;
  max-width: 100%;
}
.btn.toggleCommunityDrawer i {
  color: #ffffff;
}
.btn.btn-sm.community-drawer-close {
  background: transparent;
  padding: 4px 8px;
  color: #626584;
  border: none;
}
.btn.btn-follow,
.donate {
  background-color: #626584;
}
.btn.btn-follow:hover,
.donate:hover {
  background-color: #45485e;
}
.blog-footer .icon:hover {
  color: #626584 !important;
}

.project-navbar .dropdown-menu {
  background-color: #626584;
}
.project-navbar a.dropdown-item {
  color: #ffffff;
}
.project-navbar a.dropdown-item:hover,
.project-navbar a.dropdown-item:active {
  background-color: rgba(0, 0, 0, 0.15) !important;
}
.project-navbar .dropdown-menu li a {
  color: #ffffff;
}
.project-navbar .dropdown-menu li a.nav-link:hover {
  color: #ffffff !important;
}

.project-navbar {
	background-color: #3b3d50e6;
}

.sidebar-left h3,
.sidebar-right h3,
.explore-blog-list h3 {
  color: #576f76;
}


.referrallinkbox {
	background-color: #e6e7f3;
	border-radius: 0.5rem;
	padding: 0.75rem;;
}
  
  
  