<script type="text/javascript" src="$applink/components/javascript/jquery-3.6.0.min.js" onload="if (!window.jQuery) window.$ = window.jQuery = module.exports;"></script>

<script type="text/javascript" defer src="/${applicationid}/components/javascript/bootstrap/5.2.1/js/bootstrap.bundle.min.js" ></script>
<script type="text/javascript" defer src="/${applicationid}/components/javascript/jquery-ui/1.12/jquery-ui.min.js" ></script>
<script type="text/javascript" defer src="/${applicationid}/components/javascript/jquery-ui/i18n/jquery-ui-i18n.js" ></script>


##		<script type="text/javascript" src="/site/app/components/chatterbox/chatterbox.js"></script>

<script type="text/javascript" async src="/openedit/components/html/ckeditor/ckeditor.js"></script>


<script type="text/javascript" defer src="$applink/components/javascript/index.js" ></script>

##Load Stripe only on pay pages.
#foreach( $script in $content.getScriptPaths() )
	#if($script.indexOf("stripe") > -1)
		<script type="text/javascript" src="#if(!$script.startsWith("http"))$home#end$script"></script>
	#end
#end



#foreach( $style in $content.getStylePaths() )
	<link rel="stylesheet" type="text/css" href="$style" />
#end
 