

#set($collectionid = $librarycol.getId())
#if(!$collectionid)
	#set($collectionid = $context.getRequestParameter("organizationid"))
	#if(!$collectionid)
		#set( $tagid = $url_util.getPathUtilities().extractDirectoryName($content.path) )
		#set( $tag = $mediaarchive.getCachedData("communitytag",$tagid) )
		#if($tag)
			#set( $collectionid = $mediaarchive.getCachedData("librarycollection",$tag.collectionid))
		#end
	#end
	#if($collectionid)
		#set( $librarycol = $mediaarchive.query("librarycollection").exact("id", $collectionid).searchOne() )
	#end
#end

#if( $librarycol )
	$context.putPageValue("collectionid",$librarycol.getId() )
	
	#set($fullwidth = $content.fullwidth)
	
	#set($logo = $mediaarchive.getAsset($librarycol.assetportrait) )
	
	#if ($logo)
		#set($logourl = "/$mediaarchive.getMediaDbId()/services/module/asset/downloads/preset/${logo.sourcepath}/image200x200.png")
	#else
		#set($logourl = "$applink/theme/images/OI_flower.png")
	#end
	
	###set($homelink = "$applink/collective/channel/${librarycol.id}/#urlencode($librarycol.getWebName()).html")
	
	
	#set($homelink = "$applink/proposal/${librarycol.id}/#dash($librarycol.getWebName()).html")


	#if ($librarycol.collectivebanner)
		#set( $banner= $mediaarchive.getAsset($librarycol.collectivebanner) )
		#set ($bannerurl = "/$mediaarchive.getMediaDbId()/services/module/asset/downloads/preset/$!{banner.sourcepath}/image1920x500cropped.jpg")
	#else
		#set ($bannerurl = "$applink/theme/images/oi-background-2023.jpg")
	#end

	##$pages.include("$apphome/home/proposals/communityheader.html")

	<div class="oicontainer" id="collectivelayout">
		<div class="d-flex align-items-center flex-column py-3" style="background-color: rgba(255, 0, 0, 0.1);">
			#set( $communitytagcategory = $mediaarchive.getCachedData("communitytagcategory",$librarycol.get("communitytagcategory") ) )
			
			#ifnotnull($communitytagcategory)
			<p class="mb-2 text-danger">
				<i class="fa fa-info-circle"></i> You are browsing the old version of Open Institute
			</p>
				#set($link = "${communitytagcategory.externaldomain}/${librarycol.urlname}" )
			<a href="$link" class="btn btn-lg btn-primary">
				New #text($librarycol.name) <i class="fa fa-arrow-right ms-1"></i>
			</a>
			#end
		</div>
		<div class="project-header" id="project-header" #if($bannerurl) style="background-image: url('$bannerurl');" #end>
			<div class="container">
				<div class="row no-gutters g-0">
					<div class="col-lg-20p"> </div>
					<div class="col">
						<div class="d-flex align-items-center" style="height: 120px">
							<a class="project-header-logo" href="$homelink" title="$!librarycol.name">
								<img src="$logourl" alt="logo" />
							</a>
							<div class="ms-2">
								#if($librarycol.name)
								<h1 class="project-title">#text($librarycol.name)</h1>
								#end
								<p class="text-white m-0" style="line-height: 1.25;">
									#text($librarycol.name)
								</p>
							</div>
						</div>
					</div>
					<div class="col-lg-20p"></div>
				</div>
				
			</div>
			#if($content.collectivesection != "home")
				<div class="campaigncollectiveheadermenu">	
					$pages.include("$apphome/collective/menu.html", $context)
				</div>
			#end
		</div>
		$pages.includeContent()	
	</div>

#else

$pages.includeContent()	

#end
