#set($collectionid = $librarycol.getId())
#if(!$collectionid)
	#set($collectionid = $context.getRequestParameter("organizationid"))
	#if(!$collectionid)
		#set( $tagid = $url_util.getPathUtilities().extractDirectoryName($content.path) )
		#set( $tag = $mediaarchive.getCachedData("communitytag",$tagid) )
		#if($tag)
			#set( $collectionid = $mediaarchive.getCachedData("librarycollection",$tag.collectionid))
		#end
	#end
	#if($collectionid)
		#set( $librarycol = $mediaarchive.query("librarycollection").exact("id", $collectionid).searchOne() )
	#end
#end

#if( $librarycol )
	$context.putPageValue("collectionid",$librarycol.getId() )
	
	#set($fullwidth = $content.fullwidth)
	
	#set($logo = $mediaarchive.getAsset($librarycol.assetportrait) )
	
	#if ($logo)
		#set($logourl = "/$mediaarchive.getMediaDbId()/services/module/asset/downloads/preset/${logo.sourcepath}/image200x200.png")
	#else
		#set($logourl = "$applink/theme/images/OI_flower.png")
	#end
	
	###set($homelink = "$applink/collective/channel/${librarycol.id}/#urlencode($librarycol.getWebName()).html")
	
	
	#set($homelink = "$applink/proposals/proposal/#dash($librarycol.getWebName())/${librarycol.id}.html")


	#if ($librarycol.collectivebanner)
		#set( $banner= $mediaarchive.getAsset($librarycol.collectivebanner) )
		#set ($bannerurl = "/$mediaarchive.getMediaDbId()/services/module/asset/downloads/preset/$!{banner.sourcepath}/image1920x500cropped.jpg")
	#else
		#set ($bannerurl = "$applink/theme/images/oi-background-2023.jpg")
	#end


<div class="campaigncollectivelayout oicontainer" id="collectivelayout">

 	<div class=" campaignscollectiveheader" 
 		style="position:relative;
 		 #if($bannerurl) background-image: url('$bannerurl'); #end
 		">

			<div class="project-title">
			#if($librarycol.name)
			<h1>$!librarycol.name</h1>
			#end
			
			<div class="collectiveheaderlogo">
				<a  href="$homelink" title="$!librarycol.name">
					<div class="project-thumb" #if($logourl) style="background-image: url('$logourl');" #end></div>
				</a>
			</div>
			
			</div>
	</div>
	<div class="campaigncollectiveheadermenu">	
	$pages.include("$apphome/collective/menu.html", $context)
	</div>
	
	$pages.includeContent()	
	

</div>

#else

$pages.includeContent()	

#end