:root {
	--primary-color-dark-blue-1: #1c2431;
	--primary-color-dark-blue-2: #181f2a;
	--primary-color-dark-blue-3: #0b1523;
	--primary-color-dark-blue-4: #202a3c;
	--accent-color-cyan: #65e2d9;
	--accent-color-blue: #339ecc;
	--neutral-color-white: #ffffff;
	--font-heading: "Raleway", sans-serif;
	--font-body: "Open Sans", sans-serif;
	--padding-sm: 2.5rem 2rem;
	--padding-md: 3.5rem 3rem;
	--padding-lg: 4.5rem 4rem;
	--padding-footer: 15rem 4rem 1rem;
	--padding-footer-tablet: 20rem 3rem 1rem;
	--padding-footer-mobile: 25rem 3rem 1rem;
}
body {
	background-color: var(--primary-color-dark-blue-2);
	color: var(--neutral-color-white);
	font-family: var(--font-body);
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-heading);
	line-height: 1.7;
	font-weight: 700;
}
hr {
	border-top: 1px solid #384861;
}
h1 {
	font-size: 1.7rem;
}
h2 {
	font-size: 1.5rem;
}
h3 {
	font-size: 1.4rem;
}
p {
	font-family: var(--font-body);
	font-size: 18px;
	line-height: 1.7;
	/* padding: 0.5rem 0; */
}
.lg-p {
	font-size: 1rem;
}
.fillpage {
	min-height: calc(100vh - 292px);
}
a {
	color: var(--neutral-color-white);
	font-family: var(--font-heading);
	text-decoration: none;
}
header {
	display: flex;
	padding: 2rem 4rem;
	justify-content: space-between;
}
.btn.btn-primary {
	color: var(--neutral-color-white);
	background: linear-gradient(
		50deg,
		var(--accent-color-cyan),
		var(--accent-color-blue)
	);
	border-color: var(--accent-color-cyan);
}
.btn.btn-primary:hover {
	color: var(--neutral-color-white);
	background: linear-gradient(
		50deg,
		var(--accent-color-blue),
		var(--accent-color-cyan)
	);
	border-color: var(--accent-color-cyan);
}
.nav-bar {
	display: flex;
	justify-content: center;
	align-items: center;
}
.nav-bar ul,
footer ul {
	margin: 0;
	padding: 0;
}
.nav-bar ul li,
footer ul li {
	display: inline-block;
	/* margin-left: 1rem; */
	font-size: 1rem;
}
a:hover {
	color: var(--accent-color-cyan);
	transition: 600ms;
}
a.active {
	color: var(--accent-color-cyan);
	font-weight: bold;
}
section {
	padding: var(--padding-lg);
}
#contactUs {
	--muted-color: #efefff;
	--primary-color: var(--accent-color-cyan);
}

.text-primary {
	color: var(--accent-color-cyan) !important;
}
.form-control {
	border-color: var(--accent-color-cyan);
}
.form-control:focus {
	border-color: var(--accent-color-cyan);
	box-shadow: none;
}
.logo-container {
	width: auto;
	height: 50px;
	display: flex;
	align-items: center;
}
.logo-container:hover {
	color: inherit;
}
.logo-container img {
	/* width: 50px; */
	height: 50px;
	margin-right: 8px;
}
.logo-container strong {
	color: var(--accent-color-cyan);
	font-size: 1.2rem;
	line-height: 1;
	margin-bottom: 2px;
}
.logo-container small {
	font-size: 12px;
	font-weight: bold;
}
.intro img,
.productive img {
	width: 100%;
	max-width: 600px;
	height: auto;
}
.intro img {
	max-width: 500px;
}
.intro {
	padding: 0 1rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.intro > div {
	width: 60%;
	max-width: 800px;
}
.ml-1 {
	margin-left: 1rem;
}
.mt-2 {
	margin-top: 2rem;
}
button.gradient {
	border-radius: 25px;
	background: linear-gradient(
		50deg,
		var(--accent-color-cyan),
		var(--accent-color-blue)
	);
	border: none;
	font-family: var(--font-heading);
	color: var(--neutral-color-white);
	height: 3rem;
	font-weight: 700;
	padding: 0 12px;
}
input {
	height: 3rem;
	padding-left: 12px;
	border: none;
	border-radius: 25px;
	background-color: var(--neutral-color-white);
}
button:hover {
	cursor: pointer;
	background: linear-gradient(
		50deg,
		var(--accent-color-blue),
		var(--accent-color-cyan)
	);
}
.features {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.features-item {
	width: 33.33%;
	padding: 2rem 2.5rem;
	text-align: center;
}
.productive {
	display: flex;
	align-items: center;
	max-width: 1400px;
	margin: 0 auto;
}
.productive-content {
	padding-left: 4.5rem;
}
.content-link {
	font-family: var(--font-body);
	border-bottom: 1px solid var(--accent-color-cyan);
	color: var(--accent-color-cyan);
	/* text-decoration: none; */
}
.content-link:hover {
	color: var(--neutral-color-white);
	transition: 600ms;
	border-bottom-color: var(--white);
}
.testimonial {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.testimonial-item {
	margin-left: 3.5rem;
	flex-basis: 33.33%;
	border-radius: 5px;
	background-color: var(--primary-color-dark-blue-4);
	box-shadow: 2px 2px 20px 2px var(--primary-color-dark-blue-3);
	padding: var(--padding-sm);
}
.testimonial-item:first-child {
	margin-left: 0;
}
.testimonial-item-reviewer {
	display: flex;
	padding-top: 1rem;
}
.testimonial-item-reviewer img {
	border-radius: 50%;
	height: 50px;
	width: 50px;
}
.input-block {
	width: 80%;
	max-width: 600px;
}
.btn-block {
	width: 20%;
	max-width: 250px;
	margin-left: 1rem;
}
.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}
.attribution-container {
	grid-area: attribution;
}
.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}
.features-item {
	width: 480px;
	height: 320px;
	max-width: 100%;
	margin: 8px;
	border-radius: 16px;
	box-shadow: 1px 1px 8px 1px var(--primary-color-dark-blue-3);
	transition: all 0.3s ease;
}
.features-item:hover {
	transform: translate3d(0, -10px, 0);
}
.features-item-head {
	flex-grow: 1;
}
.features-item-head i {
	font-size: 4rem;
	color: var(--accent-color-cyan);
}
@media (max-width: 1000px) {
	header {
		padding: var(--padding-sm);
	}
	header img,
	footer img {
		width: 117px;
		height: auto;
	}
	section {
		padding: 1rem;
	}
	.intro > div,
	.features-item {
		width: 100%;
	}
	.testimonial,
	.productive {
		flex-direction: column;
	}
	.features-item {
		padding: 2rem 1rem;
	}
	.productive-content {
		margin-top: 2rem;
		padding: 0;
	}
	.testimonial-item {
		margin-left: 0;
		margin-top: 3.5rem;
		/* width: 80%; */
	}
	.input-block {
		max-width: 100%;
		width: auto;
	}
	.btn-block {
		max-width: 100%;
		width: auto;
		min-width: 100%;
		margin-top: 1rem;
		margin-left: 0;
	}
}
@media screen and (max-width: 767px) {
	.logo-container {
		height: 40px;
	}
	.logo-container img {
		width: 40px;
		height: 40px;
	}
	.logo-container strong {
		font-size: 1rem;
	}
	header {
		padding: 1rem;
	}
}
@media (max-width: 375px) {
	section {
		padding: var(--padding-sm);
	}
}
footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 4rem;
	background-color: var(--primary-color-dark-blue-3);
	position: sticky;
}
@media screen and (max-width: 768px) {
	footer {
		padding: 2rem;
	}
	footer ul li {
		/* width: 100%; */
		/* text-align: right; */
	}
}
.video-card {
	background-color: transparent;
	box-shadow: none;
	border: none;
}
.video-card {
	transition: transform 0.3s;
}
.video-card:hover {
	transform: translateY(-5px);
}
.video-card .media-container {
	border-radius: 1rem;
	overflow: hidden;
}
.video-card .card-body {
	padding: 0.5rem 0;
}
.video-card h5 {
	margin: 0 0 4px;
	/* line-height: 2.2rem; */
	white-space: pre-wrap;
}
.video-card p {
	padding: 0;
	margin: 0;
	color: #aaa;
	line-height: 1.2;
	font-size: 15px;
}
.video-card small {
	color: #aaa;
}
.line-clamp-2 {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	line-clamp: 2;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}
.search-container {
	max-width: 600px;
	margin: 0 auto;
}
.text-secondary {
	color: #cdcdcd !important;
}
.video-thumbnail {
	height: 300px;
	object-fit: cover;
}
.suggested-video {
	margin-bottom: 8px;
	transition: transform 0.3s;
}
.suggested-video:hover {
	transform: translateX(-4px);
}
.comment-avatar {
	width: 40px;
	height: 40px;
	object-fit: cover;
	border-radius: 50%;
}
