<div class="alert alert-secondary border-bottom top-flair px-4 d-flex align-items-center justify-content-between m-0" style="position: fixed; top: 0; left: 0; z-index: 1000;width: 100%;">
  <a class="btn text-secondary" href="https://emedialibrary.com/templates/">
    <i class="fas fa-chevron-left" style="font-size: 1.5rem;"></i>
  </a>
  <div class="d-flex align-items-center">
    <strong class="text-secondary">
      Ready to start with this template?
    </strong>
    <a class="btn bg-primary text-white px-3 py-2 mx-3" style="font-size: 1rem;">
      See Details
    </a>
    <a class="btn text-secondary flair-close">
      <i class="fas fa-times"></i>
    </a>
  </div>
</div>