<script type="text/javascript" src="$applink/components/javascript/jquery-3.6.0.min.js"></script>

##not working
##<script type="text/javascript" src="$applink/components/javascript/index.js" ></script>


#foreach( $script in $pageManager.getScriptPathsWithoutApp($content))
	<script type="text/javascript" src="#if(!$script.startsWith("http"))$home#end$script"></script>
#end

#foreach( $style in $pageManager.getStylePathsFor($content) )
	<link rel="stylesheet" type="text/css" href="$style" />
#end