
<script type="text/javascript"  src="/${applicationid}/components/javascript/jquery-3.7.1.js" onload="if (!window.jQuery) window.$ = window.jQuery = module.exports;"></script>

<script type="text/javascript" defer src="/${applicationid}/components/javascript/jquery-ui/1.14/jquery-ui.min.js" ></script>
<script type="text/javascript" defer src="/${applicationid}/components/javascript/jquery-ui/i18n/jquery-ui-i18n.js" ></script>
<link rel="stylesheet"  type="text/css" id="jqueryui" href="/${applicationid}/components/javascript/jquery-ui/1.14/jquery-ui.css"/>


<script type="text/javascript" src="/${applicationid}/components/javascript/bootstrap/4.5.3/js/popper.min.js" ></script>
<script type="text/javascript" defer src="/${applicationid}/components/javascript/bootstrap/5.2.1/js/bootstrap.bundle.min.js" ></script>
<link rel="stylesheet" type="text/css" href="/${applicationid}/components/javascript/bootstrap/5.2.1/css/bootstrap.min.css" />


<link rel="stylesheet" href="/${applicationid}/components/javascript/fontawesome-5/css/all.min.css" />

<script type="text/javascript" defer src="/openedit/components/html/ckeditor/ckeditor.js"></script>

<script type="text/javascript" src="/${applicationid}/components/javascript/index.js" ></script>


##This is misc content NOT already included
#foreach( $script in $pageManager.getScriptPathsWithoutApp($content))
	<script type="text/javascript" src="#if(!$script.startsWith("http"))$home#end$script"></script>
#end

#foreach( $style in $pageManager.getStylePathsFor($content) )
	<link rel="stylesheet" type="text/css" href="$style" />
#end

<script type="importmap">
	{
		"imports": {
			"ckeditor5": "/openedit/components/javascript/ckeditor5/ckeditor5.js",
			"ckeditor5/": "/openedit/components/javascript/ckeditor5/"
		}
	}
</script>
<script type="module" src="/openedit/components/javascript/openedithtmleditor.js" defer></script>
<link rel="stylesheet" type="text/css" href="/openedit/components/javascript/ckeditor5/ckeditor5.css" />

<!-- <script type="text/javascript" defer src="/${applicationid}/components/javascript/multidate/moment.js" ></script>
<script type="text/javascript" defer src="/${applicationid}/components/javascript/multidate/jquery.daterangepicker.min.js" ></script>
<!-- <link rel="stylesheet" type="text/css" href="/${applicationid}/components/javascript/multidate/daterangepicker.min.css" /> -->
