#set( $usersidebarhidden = $userprofile.get("usersidebarhidden")) #if
(!$usersidebarhidden) #set( $usersidebarhidden = 'false') #end

<button
  class="btn rounded-0 sidebar-toggler-show userOffcanvasToggler"
  type="button"
  data-bs-toggle="offcanvas"
  data-bs-target="#userOffcanvas"
  data-action="show"
  title="[[Show User Sidebar]]"
>
<i class="fas fa-angle-double-right" style="font-size: 1.2em"></i>
</button>

<div
  class="offcanvas offcanvas-start #if($user && $usersidebarhidden == 'false') show #end"
  data-bs-scroll="true"
  data-bs-backdrop="false"
  tabindex="-1"
  id="userOffcanvas"
  aria-labelledby="userOffcanvasLabel"
  style="max-width: 250px"
>

  <div class="offcanvas-body">
    $pages.include("${communityhome}/components/users/sidebar.html", $context)
  </div>
</div>
