<div class="col-sidebar-header col-guide filters-sidebar">
<div class="col-sidebar-header">
<h2>TAE D.A.M. Quick Start</h2>
</div>

<div class="side-guide darktext">
<textarea rows="5" cols="20">
New line
Here
</textarea>

<ul class="auto-active-container">
	<li>
	<p>Click the following for:<a href="https://taeconfluence.tae.trialphaenergy.com/display/NORMAN/TAE%27s+Digital+Asset+Manager" target="_blank"><u><span style="color:#0000FF;">TAE's Digital Asset Manager guide</span></u></a></p>
	</li>
</ul>
</div>
</div>
<!-- toolbar footer --><!-- toolbar footer --><!-- toolbar footer --><!-- toolbar footer --><!-- toolbar footer --><!-- toolbar footer -->