#set( $target = "resolve#eid($goal.id)")
#set($value = $mediaarchive.getData("projectstatus",$goal.projectstatus))
<div id="$target" >
	#if($value)
		#if($value == "Completed")
			<a class=" badge badge-success" style="color:white">[[Completed]]</a>
		#else
			<div>$context.getText($value)</div>
		#end
	#end
	
	#if($goal.projectstatus != "completed" && $goal.projectstatus != "closed")
	
		<a href="${communityhome}/users/tasks/resolvegoal.html?goalid=$goal.id" 
			data-targetdiv="$target" 
			data-oemaxlevel="1"
			title="[[Resolve Ticket]]"
			class="ajax btn btn-xs btn-resolve btn-warning" 
			 ><i class="fas fa-check"></i> [[Resolve]]
		</a>
	#end
</div>

