<div class="d-flex flex-column">
<div class="team-list">	
	<div class="d-flex align-items-center justify-content-between team-list-header">
		<h3>[[Team Circle]]</h3> 
		#if($user)
			<a class="btn btn-light emdialog" data-cancelsubmit="true"
				title="[[View Members]]"
				href="$communityhome/project/channel/subscribers/teamlist.html?collectionid=$librarycol.getId()">
				<i class="fas fa-list"></i>
			</a>
		#end
	</div> 
		
	$pages.include("$communityhome/project/channel/subscribers/index.html", $context)
</div>


##$pages.include("$communityhome/project/channel/likeoptions.html", $context)


#if ($librarycol.facebooklink || $librarycol.instagramlink || $librarycol.websitelink)
	<div class="text-center" style="margin:20px;">
	#if ($librarycol.facebooklink)
			<a href="${librarycol.facebooklink}" class="btn btn-light btn-sm" target="_blank" title="[[Follow Us]]"><i class="fab fa-facebook-f"></i></a>
	#end
	#if ($librarycol.instagramlink)
		<a href="${librarycol.instagramlink}" class="btn btn-light btn-sm" target="_blank" title="[[Follow Us]]"><i class="fab fa-instagram"></i></a>
	#end
	#if ($librarycol.websitelink)
		<a href="${librarycol.websitelink}" class="btn btn-light btn-sm" target="_blank"  title="[[Visit Us]]"><i class="fas fa-link"></i></a>
	#end
	</div>
#end
</div>